<!-- Individual Division -->
<div class="individual-division">
  <!-- Breadcrumbs -->
  <nypl-breadcrumbs crumb-name="data.crumbName"></nypl-breadcrumbs>
  
  <!-- Individual location exception messages -->
  <nypl-library-alert exception="division.hours.exceptions"></nypl-library-alert>

  <div class="container__div_info">
    <h1 class="p-org">{{division.name}}</h1>
    <div class="grid">
      <!-- Division Hours -->
      <div id="container__hours" class="grid__item lap-one-half one-whole desk-one-third">
        <div class="callout branch-open" data-ng-if="division.open">
          <todayshours hours="{{hoursToday | hoursTodayFormat:'short'}}" />
          <div id="location-hours" class="location-hours" data-ng-if="division.hours">
            <h2 class="flush--ends hdg">
              {{'REGULAR_HOURS' | translate}} 
              <span id="toggle-hours" ng-click="expand = !expand"
                ng-class="{'icon-arrow-down2': !expand, 'icon-arrow-up2': expand}"></span>
            </h2>

            <table class="weekly-hours zeta" collapse="expand" duration="2500">
              <tr class="{{hours.day}} weekday" data-ng-repeat="hours in division.hours.regular"
                data-ng-if="$index != 7">
                <th class="day">{{hours.day}}</th>
                <td class="time">{{ hours | timeFormat }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="callout branch-closed" data-ng-if="!division.open">
          <h2>Division is temporarily closed.</h2>
        </div>
      </div><!--

      --><div id="container__div_image" class="grid__item lap-one-half one-whole desk-one-third">
        <!-- Division Image -->
        <img class="img--outline main_division_image" data-ng-src="{{division.images.interior}}"
          alt="Image of {{division.name}}" title="Image of {{division.name}}">
      </div><!--
      
      --><div id="container__div_address" class="grid__item lap-one-half one-whole desk-one-third">
        
        <!-- Division address and related location data -->
        <div class="div_name">{{location.name}}</div>
        <div class="div_loc_info">
          <div data-ng-if="location.street_address">{{location.street_address}}</div>
          <div data-ng-if="location.cross_street">{{location.cross_street}}</div>
          <div data-ng-if="division.floor">
            <span>{{division.floor}}</span>
            <span data-ng-if="division.room" class="room">
              {{'ROOM' | translate}} {{division.room}}
            </span>
          </div>
          <div data-ng-if="location.locality">
            {{location.locality}}, {{location.region}} {{location.postal_code}}
          </div>
          <div data-ng-if="division.contacts.manager">
            {{'DIVISION_MANAGER' | translate}}<span>{{division.contacts.manager}}</span>
          </div>
          <div data-ng-if="division.contacts.phone">{{division.contacts.phone}}</div>
        </div>

        <!-- Accessibility -->
        <div id="accessibility__container">
          <div data-ng-if="division.access == 'Fully Accessible'" class="accessible">
            <span class="fully icon-accessibility"></span>
            {{division.access}}
          </div>
          <div data-ng-if="division.access == 'Partially Accessible'" class="accessible">
            <span class="partially icon-accessibility"></span>
            {{division.access}}
          </div>
          <div data-ng-if="!division.access" class="not-accessible">
            <span class="none icon-accessibility"></span>
            Not Accessible
          </div>
        </div>

        <div class="social flush beta" data-ng-if="division.social_media">
          <a class="{{social.classes}}" data-ng-href="{{social.href}}" id="social_media"
            data-ng-repeat="social in division.social_media" class="inline"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Social Media" analytics-label="{{social.site}}"></a>
        </div>
      </div>

    </div>
  </div>

  <!-- Sub-divisions -->
  <div class="container__sub_divisions" data-ng-if="division._embedded.divisions">
    <h2 class="hdg">{{ 'SUBDIVISION_HEADER' | translate }}</h2>
    <div class="grid">
      <div class="grid__item one-whole tablet-and-up-one-half lap-and-up-one-third"
        data-ng-repeat='subdivision in division._embedded.divisions'>
        <div class="subdivision-wrapper">
          <a ui-sref="subdivision({division: division.slug, subdivision: subdivision.slug})"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Division Image" analytics-label="{{subdivision.name}}">
            <img data-ng-if="subdivision.images.interior" class="img--outline" 
            data-ng-src="{{subdivision.images.interior}}"
            alt="Image for {{subdivision.name}}" title="Image for {{subdivision.name}}"/>
          </a>
          <h4 class="subdivision-title">
            <a ui-sref="subdivision({division: division.slug, subdivision: subdivision.slug})"
              analytics-on="click" analytics-category="Locations"
              analytics-event="Division Title" analytics-label="{{subdivision.name}}">
              {{subdivision.name}}
            </a>
          </h4>
          <p data-ng-if="subdivision.hours">Hours Today: {{subdivision.hoursToday | timeFormat}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- About Division -->
  <div class="container__about">
    <div class="grid">
      <div class="grid__item one-whole lap-and-up-three-fifths">
        <h2 class="hdg">{{ 'ABOUT_COLLECTION' | translate }}</h2>
        <img data-ng-if="division.images.collection_item" class="img--left img--outline division_second_image"
          data-ng-src="{{division.images.collection_item}}" style="max-width: 165px;" />
        <p>{{division.about}}</p>
        <div class="text--right">
          <a class="read-more collection-more" data-ng-href="{{division._links.self.about}}"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Click" analytics-label="Learn More">
            {{ 'MORE_ABOUT_DIVISION' | translate }}</a>
        </div>
      </div><!--

      --><div class="grid__item one-whole lap-and-up-two-fifths">
        <div id="plan-your-visit">
          <h2 class="hdg">{{ 'PLAN_YOUR_VISIT' | translate }}</h2>
          <a data-ng-if="division._links.concierge.href && has_appointment"
            data-ng-href="{{division._links.concierge.href}}" class="btn"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Click" analytics-label="Make Appointment">
            {{ 'APPOINTMENT' | translate }}
          </a>
          <a data-ng-if="division._links.contact.href" id="ask-librarian"
            data-ng-href="{{division._links.contact.href}}" class="btn"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Click" analytics-label="Email Librarian">
            {{ 'ASK_LIBRARIAN' | translate }}
          </a>
          <!-- Plan your visit items -->
          <ul class="soft-half--ends delta" data-ng-if="division.plan_your_visit">
            <li data-ng-repeat="item in division.plan_your_visit">
              <a data-ng-href="{{item.url}}"
                analytics-on="click" analytics-category="Locations"
                analytics-event="Plan Your visit" analytics-label="{{item.url}}">
                {{item.label}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container__events" data-ng-if="division._embedded.events">
    <h2 class="hdg">{{ 'EVENTS' | translate }}</h2>
    <ul class="grid">
      <li class="grid__item one-whole desk-one-third" data-ng-repeat="event in division._embedded.events">
        <h3 class="event__title">
          <a data-ng-href="{{event._links.self.href}}"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Event title" analytics-label="{{event._links.self.href}}">
            {{event.title}}
          </a>
        </h3>
        <a data-ng-href="{{event._links.self.href}}"
          analytics-on="click" analytics-category="Locations"
          analytics-event="Event image" analytics-label="{{event._links.self.href}}">
          <img data-ng-if="event.image" class="img--outline img--left" 
            data-ng-src="{{event.image}}" alt="" style="height: 100px;" />
        </a>
        <time class="date">{{event.start | dateToISO | date:'EEEE, MMMM d, y, h:mma'}}</time>
        <p class="desc">{{event.body}}</p>

        <div data-ng-if="event.registration">
          {{ 'REGISTRATION' | translate }}:
          <event-registration registration="{{event.registration}}"
            type="{{event.registration.type}}"
            open="{{event.registration.open}}"
            start="{{event.registration.start}}"
            link="{{event._links.self.href}}">
          </event-registration>
        </div><!--

        --><div class="">
          <a data-ng-href="{{calendarLink('google', event, location)}}"
            target="_blank" rel="nofollow" class="icon-calendar google_link"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Add to Google" analytics-label="">
            Google
          </a>
          <a data-ng-href="{{calendarLink('yahoo', event, location)}}"
            target="_blank" rel="nofollow" class="icon-calendar yahoo_link"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Add to Yahoo" analytics-label="">
            Yahoo
          </a>
          <a href="#" data-ng-click="icalLink(event, location.street_address)"
            target="_blank" download="nypl_event.ics" class="icon-calendar" rel="nofollow"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Add to iCal" analytics-label="">
            iCal
          </a>
        </div>
      </li>
    </ul>
      
    <div class="text--right">
      <a class="read-more events-more" data-ng-href="{{location._links.events.all}}"
        analytics-on="click" analytics-category="Locations"
        analytics-event="Event" analytics-label="See all">
        {{ 'MORE_EVENTS' | translate }}
      </a>
    </div>
  </div>

  <!-- Features -->
  <div id="container__features" data-ng-if="division._embedded.features">
    <h2 class="hdg">{{ 'FEATURED' | translate }}</h2>
    <div class="grid">
      <div class="chunk one-whole desk-one-third" data-ng-repeat='feature in division._embedded.features'>
        <a data-ng-if="feature.image" data-ng-href="{{feature._links.self.href}}"
          analytics-on="click" analytics-category="Locations"
          analytics-event="Feature image" analytics-label="{{feature._links.self.href}}">
          <img class="img--left img--outline one-third lap-and-up-one-whole desk-one-third"
            data-ng-src="{{feature.image}}" alt="{{feature.title}}"/>
        </a>
        <h3 class="feature-title" data-ng-if="feature.title">
          <a data-ng-href="{{feature._links.self.href}}"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Feature title" analytics-label="{{feature._links.self.href}}">
            {{feature.title}}
          </a>
        </h3>
        <div class="desc" data-ng-bind-html="feature.body"></div>
      </div>
    </div>
  </div>

  <!-- Blogs (conditonal) -->
  <div id="container__blogs" data-ng-if="division._embedded.blogs">
    <h2 class="hdg">{{ 'BLOGS' | translate }}</h2>
    <div class="grid">
      <div class="chunk one-whole desk-one-third" data-ng-repeat='blog in division._embedded.blogs'>
        <h3>
          <a data-ng-href="{{blog._links.self.href}}"
            analytics-on="click" analytics-category="Locations"
            analytics-event="Blog title" analytics-label="{{blog._links.self.href}}">
            {{blog.title}}
          </a>
        </h3>
        <a data-ng-if="blog.image" data-ng-href="{{blog._links.self.href}}"
          analytics-on="click" analytics-category="Locations"
          analytics-event="Blog image" analytics-label="{{blog._links.self.href}}">
          <img class="img--left" data-ng-src="{{blog.image}}" alt="" style="max-width: 120px;" />
        </a>
        <div class="blog_author">
          <span class="blog_name">By {{blog.author.name}}</span>
          <span class="blog_position" data-ng-if="blog.author.position">, {{blog.author.position}}</span>
          <span class="blog_location" data-ng-if="blog.author.location">, {{blog.author.location}}</span>
        </div>
        <time class="date" ><span>{{blog.pubdate | dateToISO | date:'MMMM d, y'}}</span></time>
        <div class="desc">{{blog.body | truncate}}</div>
      </div>
    </div>
    <!-- More Blogs Link -->
    <div class="text--right">
      <a class="read-more blogs-more" data-ng-href="{{division._links.blogs.all}}">
        {{ 'MORE_BLOGS' | translate }}
      </a>
    </div>
  </div>

  <!-- Ask/Donate -->
  <div class="ask-donate">
    <nypl-fundraising fundraising="location.fundraising"></nypl-fundraising><!--

    --><div class="askNYPL grid__item one-whole lap-and-up-one-half " id="ask-nypl">
      <ul>
        <li class="asknum icon-phone">
          <a href="tel:917-275-6975">917-ASK-NYPL</a>
        </li>
        <li><librarianchatbutton /></li>
        <li><emailusbutton link="{{division._links.contact.href}}" /></li>
      </ul>
    </div>
  </div>

</div>
