<section class="events">
  
  <nyplbreadcrumbs></nyplbreadcrumbs>

  <section class="location_events_info {{location.name}}">
    <div class="grid">
      <div class="grid__item one-whole lap-and-up-two-thirds">
        <h1>{{ 'EVENTS_AT' | translate }} {{location.name}}</h1>
      </div><!--

      --><div class="grid__item one-whole lap-and-up-one-third">
        <div class="callout">
          <todayshours hours="{{hoursToday | hoursTodayFormat:'short'}}" />
        </div>
      </div><!--

      --><div class="grid__item one-whole">
        <p>
          This space is a couple of lines maximum with general stuff about what Events at a branch means.  Should be standard across all locations.
          Examples of text type.  All events are free unless otherwise noted.
        </p>
      </div>
    </div>
  </section>

  <section class="exhibition" data-ng-if="location.type == 'research' && location._embedded.exhibitions">
    <div class="grid">
      <div id="container__exhibitions" class="grid__item one-whole">
        <h2 class="hdg">{{ 'HIGHLIGHT_EXHIBITION' | translate }}</h2>
        <div class="featured-event">
          <div class="one-whole" data-ng-repeat='exhibition in location._embedded.exhibitions | limitTo:1'>
            <a data-ng-if="exhibition.image" data-ng-href="http://nypl.org/{{exhibition._links.self.href}}">
              <img class="img--left" data-ng-src="{{exhibition.image}}" alt="" style="height: 100px;" />
            </a>
            <h3 class="flush"><a data-ng-href="http://nypl.org/{{exhibition._links.self.href}}">
              {{exhibition.title}}</a></h3>
            <p>{{ 'START_TIME' | translate }}: {{exhibition.start | dateToISO | date:'EEEE, MMMM d, y, h:mma'}}</p>
            <p class="teaser desc">{{exhibition.body}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="list-of-events">
    <div class="grid">
      <h2 class="hdg push--left">{{ 'EVENTS' | translate }}</h2>
      <div class="events-pager push--left">
        <p data-ng-if="location._embedded.events.length > '1'">
          {{ 'SHOWING' | translate }} {{location._embedded.events.length}} {{ 'OF' | translate }}
          # {{ 'UPCOMING_EVENTS' | translate }} {{location.name}}.
        </p>
        <p data-ng-if="!location._embedded.events.length">
          There are currently no events at {{location.name}}.
        </p>
      </div>
      <div class="chunk one-whole desk-one-third" data-ng-repeat="event in location._embedded.events" 
        data-ng-if="location._embedded.events">
        <h3 class="event__title"><a data-ng-href="http://nypl.org/{{event._links.self.href}}">{{event.title}}</a></h3>
        <div class="">
          <img data-ng-if="event.image" class="img--outline img--left" 
            data-ng-src="{{event.image}}" alt="" style="height: 100px;" />
          <p class="date">{{event.start | dateToISO | date:'EEEE, MMMM d, y, h:mma'}}</p>
          <p class="desc">{{event.body}}</p>
        </div><!--
        --><div data-ng-if="event.registration">
           {{ 'REGISTRATION' | translate }}:
          <event-registration how="{{event.registration}}" link="{{event._links.self.href}}">
          </event-registration>
        </div><!--
        --><div class="">
          <a data-ng-href="{{calendar_link('google', event, location)}}"
            target="_blank" rel="nofollow" class="icon-calendar google_link">Google</a>
          <a data-ng-href="{{calendar_link('yahoo', event, location)}}"
            target="_blank" rel="nofollow" class="icon-calendar yahoo_link">Yahoo</a>
          <a href="" data-ng-click="ical_link(event, location.street_address)" target="_blank" download="nypl_event.ics" 
            class="icon-calendar" rel="nofollow">
            iCal</a>
        </div>
      </div>
    </div>
  </section>

  <div class="ask-donate">
    <div class="appeal grid__item one-whole lap-and-up-one-half" id="donate">
        <p>Help us keep this library open 6 days a week!</p>
        <button class="btn--donate" class="{{donateHref}}">Donate now</button>
    </div><!--

    --><div class="askNYPL grid__item one-whole lap-and-up-one-half " id="ask-nypl">
        <ul>
          <li class="asknum icon-phone">917-ASK-NYPL</li>
          <li><librarianchatbutton /></li>
          <li><emailusbutton link="{{division._links.contact.href}}" /></li>
        </ul>
    </div>
  </div>
  
</section>