<section class="events">
  
  <nyplbreadcrumbs></nyplbreadcrumbs>

  <section class="location_events_info {{location.name}}">
    <div class="grid">
      <div class="grid__item one-whole lap-and-up-two-thirds">
        <h1>{{ 'EVENTS_AT' | translate }} {{location.name}}</h1>
      </div><!--

      --><div class="grid__item one-whole lap-and-up-one-third">
        <div class="callout">
          <todayshours hours="{{hoursToday(location.hours) | hoursTodayFormat:'short'}}" />
        </div>
      </div><!--

      --><div class="grid__item one-whole">
        <p>
          This space is a couple of lines maximum with general stuff about what Events at a branch means.  Should be standard across all locations.
          Examples of text type.  All events are free unless otherwise noted.
        </p>
      </div><!--

      --><div class="grid__item one-whole">
      	   <h2 class="hdg">Highlighted exhibition</h2>
           <div class=" featured-event">
	          <h3 class="flush">{{ 'EXHIBITION' | translate }}: Title of exhibition</h3>
           </div>
      </div>
    </div>
  </section>


  <section class="list-of-events">
    <div class="grid">
      <h2 class="hdg push--left">Events</h2>
      <div class="events-pager push--left">
        <p data-ng-if="location._embedded.events.length > '1'">
          Showing {{location._embedded.events.length}} of # upcoming events at {{location.name}}.
        </p>
      </div>
      <div class="chunk one-whole desk-one-third" data-ng-repeat="event in location._embedded.events" 
        data-ng-if="location._embedded.events">
        <h3 class="event__title"><a data-ng-href="http://nypl.org/{{event._links.self.href}}">{{event.title}}</a></h3>
        <div class="">
          <img data-ng-if="event.image" class="img--outline img--left" 
            data-ng-src="{{event.image}}" alt="" style="height: 100px;" />
          <p class="date">{{event.start | dateToISO | date:'EEEE, MMMM d, y, h:mma'}}</p>
          <p class="desc">{{event.body}}</p>
        </div><!--
        --><div class="">
            <a data-ng-href="" class="btn btn--natural whiteText" data-ng-if="event.registration">{{ 'REGISTER' | translate }}</a>
            <a data-ng-href="{{calendar_link('google', event, location)}}"
              target="_blank" rel="nofollow" class="icon-calendar google_link">Google</a>
            <a data-ng-href="{{calendar_link('yahoo', event, location)}}"
              target="_blank" rel="nofollow" class="icon-calendar yahoo_link">Yahoo</a>
            <a data-ng-href="" data-ng-click="ical_link(event, location.street_address)" target="_blank" download="nypl_event.ics" 
              class="icon-calendar" rel="nofollow">
              iCal</a>
        </div>
      </div>
    </div>
  </section>

  <askdonatefooter chatHref="" emailHref="" donateHref="" />
  
</section>