<header id='header'>
	<div class="header-wrapper">
    <!-- NYPL Logo -->
    <div class='nypl-logo'>
        <a href='/'></a>
    </div>

    <!-- Mobile Search/Menu Buttons -->
    <div class="collapsed-buttons">
        <div class="button search-open-button icon-search"></div>
        <div class="button nav-open-button icon-menu2"></div>
    </div>
    <!-- End Mobile Search/Menu Buttons -->

    <!-- Login/Donate Buttons -->
    <div class='login-donate'>
        <a class='login-button'>
            <span>LOG IN</span>
            <img class="logged-in-arrow" src="http://www.nypl.org/sites/all/themes/nypl_new/images/site-icons/down-triangle_15.png">
        </a>
        <a class='donate-button' href='https://secure3.convio.net/nypl/site/SPageServer?pagename=donation_form&JServSessionIdr003=dwcz55yj27.app304a&s_src=FRQ14ZZ_SWBN'>DONATE</a>

        <!-- SSO Login -->
        <div class='sso-login'>
            <div class='login-form'> 
                <form action="/" method="post" id="bc-sso-login-form--2" accept-charset="UTF-8">
                    <div>
                        <div class="form-item form-type-textfield form-item-name">
                            <label for="username">Username or bar code: </label>
                            <input type="text" id="username" name="name" value="" size="60" maxlength="128" class="form-text" autocomplete="off">
                        </div>
                        <div class="form-item form-type-password form-item-user-pin">
                            <label for="pin">PIN: </label>
                            <input type="password" id="pin" name="user_pin" size="60" maxlength="128" class="form-text" autocomplete="off">
                        </div>
                        <div class="form-item form-type-checkbox form-item-remember-me">
                            <input type="checkbox" id="remember_me" name="remember_me" value="1" class="form-checkbox"> <label class="option" for="remember_me">Remember me </label>

                        </div>
                        <input type="hidden" name="destination" value="http://www.nypl.org/">
                        <input type="submit" id="login-form-submit" name="op" value="Log In" class="form-submit">
                        <div id="login-form-help">
                            <a href="https://nypl.bibliocommons.com/user/forgot" class="forgotpin-button">Forgot your PIN?</a>
                            <a href="http://www.nypl.org/help/library-card" class="createacct-button">Need an account?</a>
                        </div>
                        <input type="hidden" name="form_build_id" value="form-tydkOKr234PQ09lFW8Ffwo3vUGLb566Rw7rNZ-BfC3E">
                        <input type="hidden" name="form_id" value="bc_sso_login_form">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Login/Donate -->

    <!-- Global Search -->
    <div id="search-top">
        <form action="#" accept-charset="UTF-8" method="post" id="search-block-form">
          <fieldset class="pseudo-select">
            <ul>
              <li class="search-the-catalog">
                <label>
                  <input name="searchtype" type="radio" checked="checked"/>
                  Catalog
                </label>
              </li>
              <li class="search-the-website">
                <label>
                  <input name="searchtype" type="radio"/>
                  NYPL.org
                </label>
              </li>
            </ul>
          </fieldset>

          <input class="form-text" maxlength="128" id="search-block-form-input" name="search_block_form" type="text" placeholder="Find books, music, movies and more" autocomplete="false"/>
          <button alt="Search" class="search-button icon-search" name="commit" title="Search"></button>
        </form>

        <div class="search-classic-catalog">
          <a href="http://catalog.nypl.org/">Classic Catalog</a>
        </div>
    </div>
    <!-- END Global Search -->
  </div>
</header>