<header id='header'>
	<div class="header-wrapper">
    <!-- NYPL Logo -->
    <div class='nypl-logo'>
        <a href='/'></a>
    </div>

    <!-- Mobile Search/Menu Buttons -->
    <div class="collapsed-buttons">
        <div class="button search-open-button icon-search"></div>
        <div class="button nav-open-button icon-menu2"></div>
    </div>
    <!-- End Mobile Search/Menu Buttons -->

    <!-- Login/Donate Buttons -->
    <nypl-sso></nypl-sso>
    <!-- End Login/Donate -->

    <!-- Global Search -->
    <nypl-search></nypl-search>
    <!-- END Global Search -->
  </div>
</header>