<header id='header'>
	<div class="header-wrapper">
    <!-- NYPL Logo -->
    <div class='nypl-logo'>
        <a href='/'
            analytics-on="click" analytics-category="Header"
            analytics-event="Click" analytics-label="NYPL Logo"></a>
    </div>

    <!-- Mobile Search/Menu Buttons -->
    <nypl-collapsed-buttons></nypl-collapsed-buttons>
    <!-- End Mobile Search/Menu Buttons -->

    <!-- Email newsletter form -->
    <div class="header-newsletter-signup">
        <form id="header-news_signup" action="http://cl.exct.net/subscribe.aspx" 
            name="subscribeForm" method="post">
            <input type="hidden" name="thx" value="http://pages.email.nypl.org/confirmation">
            <input type="hidden" name="err" value="http://pages.email.nypl.org/confirmation">
            <input type="hidden" name="SubAction" value="sub_add_update">
            <input type="hidden" name="MID" value="7000413">
            <input type="hidden" name="Email Type" value="HTML">
            <input type="hidden" name="lid" value="1061">
            <input type="email" name="Email Address" placeholder="Get the best of NYPL in your inbox!">
            <input type="submit" value="SIGN UP" class="Button newsletter-submit"
                analytics-on="click" analytics-category="eNewsletter"
                analytics-event="Submit" analytics-label="Header signup">
            <input type="hidden" name="Source Code" value="Homepage">
        </form>
    </div>

    <!-- Login/Donate Buttons -->
    <nypl-sso></nypl-sso>
    <!-- End Login/Donate -->

    <!-- Global Search -->
    <nypl-search></nypl-search>
    <!-- End Global Search -->
  </div>
</header>