<div class="container__all-locations">

  <section class="search-locations">
    <div class="grid">

      <form class="locations-search-form grid__item one-whole">

        <label for="searchTerm" class="search-box-label">Example: Jefferson Market, 10018, 455 Fifth Avenue</label>
        <div class="search-box-area">
          <input class="search-box" id="searchTerm" type="text" placeholder="Example: Jefferson Market, 10018, 455 Fifth Avenue" data-ng-model="searchTerm"/>
          <span class="icon-search"></span>
          <span id="clear-search" class="icon-cancel-circle" data-ng-click="clearSearch()"></span>
        </div>

        <div class="search-button-area">
          <button id="find-location" class="btn--small" data-ng-click="submitAddress(searchTerm)">
            {{ 'MAIN_SEARCH_BTN' | translate }}
          </button>
        </div>

        <div class="search-filters" data-ng-if="locations">
    	    <div class="filters__current" data-ng-if="geolocationOn">
            <p>
              <span>{{ 'SHOW_ME' | translate }}:</span>
              <span class="current-location-container">
                <a id="currentloc" class="btn btn--natural whiteText" href="" data-ng-click="useGeolocation()">
                {{ 'USER_LOCATION' | translate }}
                </a>
              </span>
            </p>
          </div>
    	    <div class="filters__research">
            <p>
              <span>{{ 'RESEARCH_TEXT' | translate}}</span>
              <span class="only-research-container">
                <a id="onlyresearch" class="btn btn--natural whiteText" 
                  data-ng-class="{false: '', true: ''}[researchBranches]" href="" data-ng-click="showResearch()">
                  {{researchBranches && 'ALL_LOCATIONS' || 'RESEARCH_LOCATIONS' | translate}}
                </a>
              </span>
            </p>
          </div>
        </div>
        
      </form>
    </div>
  </section>

<!--   <div id="all-locations-map" class="grid__item one-whole lap-and-up-one-half nypl-map"></div>
  <div id="all-locations-map-legend" class="hide-legend">
    <span data-ng-if="locations"><img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" />
      {{ 'NYPL_MARKER' | translate }}<br /></span>
    <span data-ng-if="locationStart"><img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" />
      {{ 'USER_MARKER' | translate }}</span>
  </div>
 -->


  <section class="locations-results-list">
    <div class="grid">

      <table class="grid__item">
        <thead>
          <tr>
            <th class="location-title" ng-click="predicate = 'name'; reverse=!reverse">
              {{ 'LOCATION_HEADER' | translate }}
            </th>
            <th class="services-title">
              {{ 'SERVICES_HEADER' | translate }}
            </th>
            <th class="hours-title">
              {{ 'HOURS_HEADER' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Repeated location row data -->
          <tr class="locations-row {{location._id}} {{location.highlight}}" data-ng-repeat="location in locations | filter:{type:location_type} | orderBy:predicate:reverse | limitTo: libraryLimit">
            <td class="location-info h-card">
              <!-- Library Info -->
              <div class="p-org"><a href='/#/{{location.slug}}'>{{location.name}}</a></div>
              <div class="p-adr">
                <div class="p-street-address">{{location.street_address}}</div>
                <span class="p-locality">{{location.locality}}</span>, 
                <span class="p-region">{{location.region}}</span>, 
                <span class="p-postal-code">{{location.postal_code}}</span>
              </div>
              <div class="p-tel" data-ng-if="location.contacts.phone">
                Phone: {{location.contacts.phone}}
              </div>

              <!-- Map/Directions Links -->
              <span>
                <a class="icon-map" href="/#/{{location.slug}}/map">{{ 'VIEW_MAP' | translate}}</a>
              </span>
              <span>
                <a class="icon-compass" href="https://maps.google.com/maps?saddr={{locationStart}}&daddr={{location.locationDest}}">
                {{ 'DIRECTIONS' | translate }}
                </a>
              </span>

              <!-- Distance -->
              <div class="distance" data-ng-if="location.distance">
                Distance: <strong>{{location.distance}} {{ 'MILES' | translate}}</strong>
              </div>  
            </td>

            <td class="services-info">
              
            </td>
            <td class="hours-info">
              <div>
                </p>{{ location.hoursToday(location.hours) | timeFormat }}</p>
              </div>
            </td>
          </tr>
        </tbody>


      </table>

    </div>

    <section class="grid one-whole location push-half--left {{location._id}} {{location.highlight}}" 
      data-ng-repeat="location in locations | filter:{type:location_type} | orderBy:predicate:reverse | limitTo: libraryLimit">

      <div class="results--location h-card grid__item one-half lap-and-up-one-quarter">

      </div><!--

      --><div class="results--more grid__item one-half lap-and-up-three-quarters hard--left">
        
        <div class="results--distance grid__item one-whole lap-and-up-one-third">
          <div class="distance" data-ng-if="location.distance"><strong>{{location.distance}} {{ 'MILES' | translate}}</strong></div>
          <div><a class="icon-map" href="/#/{{location.slug}}/map">{{ 'VIEW_MAP' | translate}}</a></div>
          <div>
            <a class="icon-compass" 
              href="https://maps.google.com/maps?saddr={{locationStart}}&daddr={{location.locationDest}}">
              {{ 'DIRECTIONS' | translate }}</a>
          </div>
        </div><!--

        --><div class="results--hours h-card grid__item one-whole lap-and-up-one-third">
            {{ location.hoursToday(location.hours) | timeFormat }}
        </div><!-- 

        --><div class="results--services h-card grid__item one-whole lap-and-up-one-third">
          <ul>
            <li data-ng-repeat="service in location._embedded.services | limitTo:3">
              {{service.name}}
            </li>
          </ul>
        </div>
      </div>
    </section> 
    <!-- End of ng-repeat -->

    <section class="grid one-whole" data-ng-if='locations'>
      <div id="showing" class="grid--center grid__item">
        {{ 'SHOWING' | translate }} {{libraryLimit}} {{ 'OF' | translate }} {{totalLocations}} {{ 'LOCATIONS' | translate }}</div>
      <div class="grid--center grid__item" data-ng-if="showMore">
        <a href="" id="showmore" class="btn" data-ng-click="viewMore()">Show {{increaseBy}}</a>
      </div>
    </section>

  </section>
</div>
