<!-- Individual Location -->
<div class="individual-location {{location.type}} h-card">
  <!-- Breadcrumbs -->
  <nypl-breadcrumbs crumb-name="data.crumbName"></nypl-breadcrumbs>
  
  <!-- Individual location exception messages -->
  <nypl-library-alert exception="location.hours.exceptions"></nypl-library-alert>

  <!-- Location hours, address and image -->
  <div id="container__location_info">
    <h1 class="p-org">{{location.name}}</h1>
    <div class="grid">
      <div id="container__hours" class="grid__item lap-one-half one-whole desk-one-third">
        <!-- Display for open location -->
        <div class="callout branch-open" data-ng-if="location.open">
          <todayshours class="todays-hours" hours="{{hoursToday | hoursTodayFormat:'short'}}" />
          <div id="location-hours" class="location-hours">
            <h2 class="flush--ends hdg">{{ 'REGULAR_HOURS' | translate }}
              <span id="toggle-hours" ng-click="expand = !expand"
                ng-class="{'icon-arrow-down2': !expand, 'icon-arrow-up2': expand}"></span>
            </h2>

            <table class="weekly-hours zeta" collapse="expand" duration="2500">
              <tr class="{{hours.day}}" data-ng-repeat="hours in location.hours.regular" data-ng-if="$index != 7">
                <th class="day">{{hours.day}}</th>
                <td class="time">
                  {{ hours | timeFormat }}
                </td>
              </tr>
            </table>
	          <p class="smallprint" data-ng-if="location.type == 'research'">
	            {{ 'IDV_DIVISION_HOURS' | translate }}
	          </p>
          </div>
        </div>
        <div class="callout branch-closed" data-ng-if="!location.open">
          <h2>Branch is temporarily closed.</h2>
        </div>
      </div><!--
        
      --><div id="container__address" class="grid__item one-whole lap-one-half desk-one-third">
          <!-- This is h-card microformat -->
          <!-- http://microformats.org/wiki/h-card -->
          <div class="p-adr">
            <div class="p-street-address">{{location.street_address}}</div>
            <span class="p-locality">{{location.locality}}</span>, 
            <span class="p-region">{{location.region}}</span>, 
            <span class="p-postal-code">{{location.postal_code}}</span>
            <div class="p-tel">{{location.contacts.phone}}</div>
            <div class="p-manager" data-ng-if="location.contacts.manager">
              {{ 'LIBRARY_MANAGER' | translate }}: {{location.contacts.manager}}
            </div>
          </div>

          <!-- Accessibility -->
          <div id="accessibility__container">
            <div data-ng-if="location.access == 'Fully Accessible'" class="accessible">
              <span class="fully icon-accessibility"></span>
              {{location.access}}
            </div>
            <div data-ng-if="location.access == 'Partially Accessible'" class="accessible">
              <span class="partially icon-accessibility"></span>
              {{location.access}}
            </div>
            <div data-ng-if="!location.access" class="not-accessible">
              <span class="none icon-accessibility"></span>
              Not Accessible
            </div>
          </div>

          <div class="map-directions">
            <a class="icon-compass"
              data-ng-href="https://maps.google.com/maps?saddr={{locationStart}}&daddr={{locationDest}}">
              {{ 'DIRECTIONS' | translate }}
            </a>
          </div>

		      <a id="catalog-link" class="icon-books" 
            data-ng-if="location._links.on_shelves && location.open"
            data-ng-href="{{ location._links.on_shelves.href }}">
            {{ 'SHELVES' | translate }}
          </a>

          <div class="social beta" data-ng-if="location.social_media">
            <a class="{{social.classes}}" data-ng-href="{{social.href}}" id="social_media"
              data-ng-repeat="social in location.social_media" class="inline"
              title="{{social.site | capitalize}}"></a>
          </div>
        </div><!--

        --><div id="container__image" class="grid__item desk-one-third">
          <img class="img--outline" data-ng-src="{{location.images.exterior}}"
            alt="Image of {{location.name}}" title="Image of {{location.name}}">
        </div>
    </div>
  </div>

  <!-- Highlighted Amenities -->
  <div id="container__top_amenities">
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="callout">
          <ul class="flush seven-eighths" data-ng-if="location.amenities_list">
            <li class="title">{{ 'AMENITIES_HEADER' | translate }}: </li>
            <li data-ng-repeat="amenity in location.amenities_list" class="{{amenity.icon}}">
              <a data-ui-sref="amenity({amenity: amenity.id})">{{amenity.name}}</a>
            </li>
          </ul>
          <ul class="flush" data-ng-if="location.amenities_list.length === 0">
            <li class="title">{{ 'AMENITIES_HEADER' | translate }}: </li>
            <li class="icon-book"><span>Lending</span></li>
            <li class="icon-box-add"><span>Book drop</span></li>
          </ul> 
          <a id="all_amenities" data-ui-sref="amenities-at-location({location: location.slug})"
            class="read-more">{{ 'ALL_AMENITIES' | translate }}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Divisions (API dependent) -->
  <div id="container__divisions" data-ng-if="location.type == 'research' && location._embedded.divisions">
    <h2 class="hdg">{{ 'DIVISION_HEADER' | translate }}</h2>
    <div class="grid">
      <div class="grid__item one-whole tablet-and-up-one-half lap-and-up-one-third"
        data-ng-repeat='division in location._embedded.divisions'>
        <div class="division-wrapper">
          <img class="img--outline" data-ng-src="{{division.images.interior}}"
            alt="Image for {{division.name}}" title="Image for {{division.name}}"/>
          <h4 class=""><a data-ui-sref="division({division: division.slug})">{{division.name}}</a></h4>
          <p data-ng-if="division.hours">Hours Today: {{division.hoursToday | timeFormat}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Features -->
  <div id="container__features" data-ng-if="location._embedded.features">
    <h2 class="hdg">{{ 'FEATURED' | translate }}</h2>
    <div class="grid">
      <div class="chunk one-whole lap-and-up-one-third" data-ng-repeat='feature in location._embedded.features'>
        <a data-ng-href="{{feature._links.self.href}}" data-ng-if="feature.image">
          <img class="one-third lap-and-up-one-whole desk-one-third img--left img--outline"
            data-ng-src="{{feature.image}}" alt="Image of {{feature.title}}" />
        </a>
        <h3 class="feature-title">
          <a data-ng-href="{{feature._links.self.href}}">
            {{feature.title}}
          </a>
        </h3>
        <div class="desc" data-ng-bind-html="feature.body"></div>
      </div>
    </div>
  </div>

  <!-- Events -->
  <div id="container__events" data-ng-if="location._embedded.events">
    <h2 class="hdg">{{ 'EVENTS' | translate }}</h2>
    <ul class="grid">
      <li class="chunk one-whole desk-one-third" data-ng-repeat="event in location._embedded.events">
        <h3 class="event__title">
          <a data-ng-href="{{event._links.self.href}}">{{event.title}}</a>
        </h3>
        <p class="date">{{event.start | dateToISO | date:'EEEE, MMMM d, y, h:mma'}}</p>
        <p class="desc">{{event.body}}</p>

        <div class="">
          <aside class="event-buttons">
            <event-registration registration="{{event.registration}}"
              type="{{event.registration.type}}"
              open="{{event.registration.open}}"
              start="{{event.registration.start}}"
              link="{{event._links.self.href}}">
            </event-registration>

            <a data-ng-href="{{calendarLink('google', event, location)}}" target="_blank"
              rel="nofollow" class="icon-calendar google_link">
              Google
            </a>
            <a data-ng-href="{{calendarLink('yahoo', event, location)}}" target="_blank"
              rel="nofollow" class="icon-calendar yahoo_link">
              Yahoo
            </a>
            <a data-ng-href="" data-ng-click="icalLink(event, location.street_address)"
              target="_blank" download="nypl_event.ics" rel="nofollow" class="icon-calendar">
              iCal
            </a>
          </aside>
        </div>
      </li>
    </ul>   
    <!-- More Events Link -->
    <div data-ng-if="location._links.events.all" class="text--right">
      <a class="read-more events-more" data-ng-href="{{location._links.events.all}}">
        {{ 'MORE_EVENTS' | translate }}
      </a>
    </div>
  </div>

  <!-- About (multi-view conditional) -->
  <div id="container__about">
    <h2 class="hdg" data-ng-if="location.type == 'circulating'">
      {{ 'ABOUT' | translate }}
    </h2>
    <div class="grid">
      <div id="about" class="grid__item one-whole"
        data-ng-class="{true: 'lap-and-up-two-thirds', false: ''}[location.type == 'research']">
        <h2 class="hdg" data-ng-if="location.type == 'research'">
          {{ 'ABOUT' | translate }}
        </h2>
        <div class="grid">
          <div id="location-secondary-img" class="grid__item one-whole lap-and-up-one-half" data-ng-if="location.images.interior">
            <img class="img--outline" title="Image of {{location.name}}"
              data-ng-src="{{location.images.interior}}" alt="Image of {{location.name}}">
          </div><!--

          --><div class="grid__item one-whole lap-and-up-one-half">
            <p>{{location.about}}</p>
            <!-- More Link -->
            <div class="text--right">
              <a class="read-more" data-ng-href="http://nypl.org/locations/{{location.slug}}">
              {{ 'ABOUT_MORE' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div><!--

      --><div class="grid__item one-whole lap-and-up-one-third" data-ng-if="location.type == 'research'">

        <!-- Display Plan your visit info only in Research and Division locations -->
        <div id="plan-your-visit">
          <h2 class="hdg">{{ 'PLAN_YOUR_VISIT' | translate }}</h2>
          <a data-ng-if="location._links.contact.href" data-ng-href="{{location._links.contact.href}}"
            class="btn btn--natural" id="ask-librarian">
            {{ 'ASK_LIBRARIAN' | translate }}
          </a>
          <ul class="flush--left gamma">
            <li class="icon-screen2">{{ 'RESERVE_COMPUTER' | translate }}</li>
            <li class="icon-library">{{ 'ILL' | translate }}</li>
            <li class="icon-users">{{ 'MEETING_ROOMS' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Blogs (conditonal) -->
  <div id="container__blogs" data-ng-if="location._embedded.blogs">
    <h2 class="hdg">{{ 'BLOGS' |translate }}</h2>
    <div class="grid">
      <div class="chunk one-whole desk-one-third" data-ng-repeat='blog in location._embedded.blogs'>
        <h3 class=""><a data-ng-href="{{blog._links.self.href}}">{{blog.title}}</a></h3>
        <a data-ng-if="blog.image" data-ng-href="http://nypl.org/{{blog._links.self.href}}">
          <img class="img--left" data-ng-src="{{blog.image}}" style="height: 100px;"
            alt="Image for blog post {{blog.title}}" title="Image for blog post {{blog.title}}" />
        </a>
        <div class="blog_author">
          <span class="blog_name">By {{blog.author.name}}<span>
          <span class="blog_position" data-ng-if="blog.author.position">, {{blog.author.position}}</span>
          <span class="blog_location" data-ng-if="blog.author.location">, {{blog.author.location}}</span>
        </div>
        <time class="date" ><span>{{blog.pubdate | dateToISO | date:'MMMM d, y'}}</span></time>
        <div class="teaser desc">{{blog.body | truncate}}</div>
      </div>
    </div>
    <!-- More Link -->
    <div class="text--right">
      <a class="read-more blogs-more" data-ng-href="{{location._links.blogs.all}}">
        {{ 'MORE_BLOGS' | translate }}
      </a>
    </div>
  </div>

  <!-- Exhibitions (conditional) -->
  <div id="container__exhibitions" data-ng-if="location._embedded.exhibitions">
    <h2 class="hdg">{{ 'EXHIBITION' | translate }}</h2>
    <div class="grid">
      <div class="chunk one-whole lap-and-up-one-half" data-ng-repeat='exhibition in location._embedded.exhibitions'>
        <a data-ng-href="{{exhibition._links.self.href}}" data-ng-if="exhibition.image">
          <img class="img--left" data-ng-src="{{exhibition.image}}" style="height: 100px;"
            alt="Image for exhibition {{exhibition.title}}" title="Image for exhibition {{exhibition.title}}" />
        </a>
        <h3 class="exhibition__title">
          <a data-ng-href="{{exhibition._links.self.href}}">{{exhibition.title}}</a>
        </h3>
        <p class="date">{{exhibition.start | dateToISO | date:'EEEE, MMMM d, y, h:mma'}}</p>
        <p class="teaser desc">{{exhibition.body | truncate}}</p>
      </div>
    </div>
  </div>

  <!-- Ask/Donate -->
  <div class="ask-donate">
    <nypl-fundraising fundraising="location.fundraising"></nypl-fundraising><!--

    --><div class="askNYPL grid__item one-whole lap-and-up-one-half " id="ask-nypl">
      <ul>
        <li class="asknum icon-phone">
          <a href="tel:917-275-6975">917-ASK-NYPL</a>
        </li>
        <li><librarianchatbutton /></li>
        <li><emailusbutton link="{{location._links.contact.href}}" /></li>
      </ul>
    </div>
  </div>

</div>
<!-- END Location Content -->
