<!-- Map View w/ Locations Data -->
<!-- Locations Results - List View -->
<section class="locations-results-map">
  <div class="grid">
  	<div class="grid__item one-whole lap-and-up-one-half">
  		<!-- Google Map -->
	    <div class="map-wrapper">
				<div id="all-locations-map" class="nypl-map"></div>
			  <div id="all-locations-map-legend" class="hide-legend">
			    <div data-ng-if="locations">
            <img class="map-marker" src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" />
			      <span>NYPL Library</span>
          </div>
			    <div data-ng-if="userMarker">
            <img class="map-marker" src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" />
			      <span>Your Current Location</span>
          </div>
          <div data-ng-if="searchMarker">
            <img class="map-marker" src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" />
			      <span>Your Search</span>
          </div>
			  </div>
	    </div>
	  </div><!--

	  --><div class="grid__item one-whole lap-and-up-one-half">
	  	<!-- Locations List Data -->
	  	<div class="locations-data-wrapper scrollable">

	  		<div id="{{location.id}}" class="location-data {{location.highlight}}"
          data-ng-repeat="location in locations | filter:{type:location_type} | orderBy:predicate:reverse">

					<div class="p-org">
            <a data-ui-sref='location({location: location.slug})'
              analytics-on="click" analytics-category="Locations"
              analytics-event="Click" analytics-label="{{location.name}} (map)">
              {{location.name}}
            </a>
          </div>
					<div class="p-adr">
						<div class="p-street-address">{{location.street_address}}</div>
						<span class="p-locality">{{location.locality}}</span>, 
						<span class="p-region">{{location.region}}</span>, 
						<span class="p-postal-code">{{location.postal_code}}</span>
					</div>
					<div class="p-tel" data-ng-if="location.contacts.phone">
						Phone: {{location.contacts.phone}}
					</div>

          <!-- Accessibility -->
          <div data-ng-if="location.access == 'Fully Accessible'" class="accessible">
            <span class="fully icon-accessibility"></span>
            {{location.access}}
          </div>
          <div data-ng-if="location.access == 'Partially Accessible'" class="accessible">
                
                <div data-ng-if="location.accessibility_note">
	                <span class="partially icon-accessibility"></span>
	                {{location.accessibility_note}}
                </div>
                <div data-ng-if="!location.accessibility_note">
	               <span class="partially icon-accessibility"></span>
	               {{location.access}}
                </div>
          </div>
          <div data-ng-if="!location.access" class="not-accessible">
            <span class="none icon-accessibility"></span>
            Not Accessible
          </div>

          <!-- Highlighted Amenities -->
					<div class="loc-amenities">
            <ul class="highlighted-amenities-list" data-ng-if="location.amenities_list && location.open">
              <li data-ng-repeat="amenity in location.amenities_list | limitTo:5">
                {{amenity.amenity.name}}
              </li>
            </ul>
					</div>

          <!-- Distance -->
          <div class="distance" data-ng-if="location.distance">
            <span>Distance</span>:
            <strong>{{location.distance}} miles</strong>
          </div>

          <!-- Today's Hours or Branch Closing -->
          <p>
            <span data-ng-if="location.open">Today's Hours:</span>
            <strong><span data-ng-bind-html="location.hoursOrClosingMessage"
              data-ng-class="{'location-alerts': location.closingMessageClass}">
            </span></strong>
          </p>

					<!-- Branch Messages -->
          <div data-ng-if="location.branchException && !location.open" class="loc-exceptions">
            <p data-ng-bind-html="location.branchException.desc"></p>
          </div>

          <!-- Map/Directions Links -->
          <div class="map-link">
            <a class="icon-map view-on-map" href="" data-ng-click="panToLibrary(location.slug)"
              analytics-on="click" analytics-category="Locations"
              analytics-event="View map" analytics-label="{{location.name}} (map)">
              View on Map
            </a>
          </div>
          <div class="directions-link">
            <a class="icon-compass"
              href="https://maps.google.com/maps?saddr={{locationStart}}&daddr={{location.locationDest}}"
              analytics-on="click" analytics-category="Locations"
              analytics-event="Directions" analytics-label="{{location.name}} (map)">
              Get Directions
            </a>
          </div>
	  		</div> <!-- End data-ng-repeat -->

	    </div>
	  </div>
  </div>
</section>
