<div class="grid__item one-whole all-locations" data-ng-controller="LocationsCtrl">
	<h3>Library Locator</h3>

  <form class="form--inline grid__item one-whole lap-and-up-one-half">
    <label for="searchTerm">Enter your Zip code:</label>
    <input id="searchTerm" type="text" data-ng-model="searchTerm" />
    <button data-ng-click="submitAddress(searchTerm)">Submit</button>
    <p>Or <a href="/#/">view all branches</a> by borough.</p>
  </form><!--

  --><div id="all-locations-map" class="grid__item one-whole lap-and-up-one-half"></div>

  <section class="list">
  	<section class="filters">
      <div>Show me only 
        <input type="checkbox" data-ng-model="location.library_type" data-ng-true-value="circulating" data-ng-false-value=""/>Lending Libraries 
        <input type="checkbox" data-ng-model="location.library_type" data-ng-true-value="research" data-ng-false-value=""/>Research Libraries
      </div>
  	</section>
  	
    <br />

    <section class="grid one-whole">
      <div class="h-card grid__item one-quarter" ng-click="predicate = 'name'; reverse=!reverse">Location</div><!--

      --><div class="h-card grid__item one-quarter" ng-click="predicate = 'distance'; reverse=!reverse">Distance</div><!--

      --><div class="h-card grid__item one-quarter">Hours</div><!--

    --><div class="h-card grid__item one-quarter">Services</div>
    </section>

    <!-- Locations are in h-card microformat -->
    <!-- http://microformats.org/wiki/h-card -->
    <section class="grid one-whole location {{location._id}} row" data-ng-repeat="location in locations | filter:location.library_type | orderBy:predicate:reverse">
        <div class="h-card grid__item one-whole lap-and-up-one-quarter ">
          <div class="p-org"><b><a href='/#/{{location.id|lowercase}}'>{{location.name}}</a></b></div>
          <div class="p-adr">
            <div class="p-street-address">{{location.street_address}}</div>
            <span class="p-locality">{{location.locality}}</span>, 
            <span class="p-region">{{location.region}}</span>, 
            <span class="p-postal-code">{{location.postal_code}}</span>
          </div>
          <div class="p-tel" data-ng-show="location.contacts.phone">Phone: {{location.contacts.phone}}</div>
          <div class="u-email" data-ng-show="location.contacts.email">Email: {{location.contacts.email}}</div>
        </div><!--

        --><div class="h-card grid__item one-whole lap-and-up-one-quarter">
          <div data-ng-show="location.distance"><strong>{{location.distance}} miles</strong></div>
          <div><a href="/#/{{location.id|lowercase}}/map">View on Map</a></div>
          <div><a href="">Get Directions</a></div>
        </div><!--

        --><div class="h-card grid__item one-whole lap-and-up-one-quarter">
          <ul>
            <li data-ng-repeat='hours in location.hours.regular'>
              {{hours.day}} {{hours.open | timeFormat}} - {{hours.close | timeFormat}}
            </li>
          </ul>
        </div><!-- 

        --><div class="h-card grid__item one-whole lap-and-up-one-quarter">
          <p>Services go here</p>
        </div>

        <hr class="grid__item" data-ng-show='location.break' />
    </section>
  </section>
</div>
