<!-- Map View w/ Locations Data -->
<!-- Locations Results - List View -->
<section class="locations-results-map">
  <div class="grid">
  	<div class="grid__item one-whole lap-and-up-one-half">
  		<!-- Google Map -->
	    <div class="map-wrapper">
	    	<!-- Edwin needs to integrate map here, temporary placeholder -->
				<div id="all-locations-map" class="nypl-map"></div>
			  <div id="all-locations-map-legend" class="hide-legend">
			    <div data-ng-if="locations"><img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" />
			      {{ 'NYPL_MARKER' | translate }}</div>
			    <div data-ng-if="locationStart"><img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" />
			      {{ 'USER_MARKER' | translate }}</div>
			      <div data-ng-if="searchMarker"><img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" />
			      {{ 'SEARCH_MARKER' | translate }}</div>
			  </div>
	    </div>
	  </div><!--

	  --><div class="grid__item one-whole lap-and-up-one-half">
	  	<!-- Locations List Data -->
	  	<div class="locations-data-wrapper scrollable">

	  		<div class="location-data" data-ng-repeat="location in locations | filter:{type:location_type} | orderBy:predicate:reverse">

					<div class="p-org"><a href='/#/{{location.slug}}'>{{location.name}}</a></div>
					<div class="p-adr">
						<div class="p-street-address">{{location.street_address}}</div>
						<span class="p-locality">{{location.locality}}</span>, 
						<span class="p-region">{{location.region}}</span>, 
						<span class="p-postal-code">{{location.postal_code}}</span>
					</div>
					<div class="p-tel" data-ng-if="location.contacts.phone">
						Phone: {{location.contacts.phone}}
					</div>

          <!-- Highlighted Services -->
					<div class="loc-services">
            <ul class="highlighted-services-list">
              <li data-ng-repeat="service in location._embedded.services | limitTo:3">
                {{service.name}}
              </li>
            </ul>
					</div>

          <!-- Distance -->
          <div class="distance" data-ng-if="location.distance">
            <span>Distance</span>:
            <strong>{{location.distance}} {{ 'MILES' | translate}}</strong>
          </div>

          <!-- Today's Hours -->
					<div class="todays-hours">
							<span>Today's Hours</span>:
							<strong>{{ location.hoursToday(location.hours) | timeFormat }}</strong>
					</div>

          <!-- Map/Directions Links -->
          <div class="directions-link">
            <a class="icon-compass" href="https://maps.google.com/maps?saddr={{locationStart}}&daddr={{location.locationDest}}">
            {{ 'DIRECTIONS' | translate }}
            </a>
          </div>

	  		</div>
	    </div>
	  </div>
  </div>
</section>