<!-- Locations Results - List View -->
<section class="locations-results-list">
  <div class="grid">
    <div class="grid__item">
      <!-- Responsive Table w/ Location data -->
      <table class="locations-list-view">
        <thead>
          <tr>
            <th class="location-title" ng-click="predicate = 'name'; reverse=!reverse">
              Location
            </th>
            <th class="amenities-title">
              Highlighted Amenities
            </th>
            <th class="hours-title">
              Today's Hours
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Repeated location row data -->
          <tr class="locations-row {{location._id}} {{location.highlight}}"
            data-ng-repeat="location in locations | filter:{type:location_type} | orderBy:predicate:reverse">
            <td class="location-info h-card">
              <!-- Library Info -->
              <div class="p-org">
                <a data-ui-sref='location({ location: location.slug })'
                  analytics-on="click" analytics-category="Locations"
                  analytics-event="Click" analytics-label="{{location.name}} (list)">
                  {{location.name}}
                </a>
              </div>
              <div class="p-adr">
                <div class="p-street-address">{{location.street_address}}</div>
                <span class="p-locality">{{location.locality}}</span>, 
                <span class="p-region">{{location.region}}</span>, 
                <span class="p-postal-code">{{location.postal_code}}</span>
              </div>
              <div class="p-tel" data-ng-if="location.contacts.phone">
                Phone: {{location.contacts.phone}}
              </div>

              <!-- Accessibility -->
              <div data-ng-if="location.access == 'Fully Accessible'" class="accessible">
                <span class="fully icon-accessibility"></span>
                {{location.access}}
              </div>
              <div data-ng-if="location.access == 'Partially Accessible'" class="accessible">
    
                <div data-ng-if="location.accessibility_note">
	                <span class="partially icon-accessibility"></span>
	                {{location.accessibility_note}}
                </div>
                <div data-ng-if="!location.accessibility_note">
	               <span class="partially icon-accessibility"></span>
	               {{location.access}}
                </div>
              </div>
              <div data-ng-if="!location.access" class="not-accessible">
                <span class="none icon-accessibility"></span>
                Not Accessible
              </div>

              <!-- Map/Directions Links -->
              <div class="map-link">
                <a class="icon-map view-on-map" href="" data-ng-click="viewMapLibrary(location.slug)"
                  analytics-on="click" analytics-category="Locations"
                  analytics-event="View map" analytics-label="{{location.name}} (list)">
                  View on Map</a>
              </div>
              <div class="directions-link">
                <a class="icon-compass"
                  data-ng-href="https://maps.google.com/maps?saddr={{locationStart}}&daddr={{location.locationDest}}"
                  analytics-on="click" analytics-category="Locations"
                  analytics-event="Directions" analytics-label="{{location.name}} (list)">
                  Get Directions
                </a>
              </div>

              <!-- Distance -->
              <div class="distance" data-ng-if="location.distance">
                Distance: <strong>{{location.distance}} miles</strong>
              </div>  
            </td>

            <!-- Highlighted Amenities -->
            <td class="amenities-info">
              <ul class="highlighted-amenities-list" data-ng-if="location.amenities_list && location.open">
                <li data-ng-repeat="amenity in location.amenities_list | limitTo:5">
                  {{amenity.amenity.name}}
                </li>
              </ul>
            </td>

            <!-- Today's Hours -->
            <td class="hours-info">
              <div>
                <p data-ng-if="!location.open" class="branch-closed location-alerts">
                  <b>Branch is temporarily closed.</b>
                </p>
                <p data-ng-if="location.open == false" class="branch-open">
                  <p data-ng-if="closingMessage" data-ng-bind-html="closingMessage" class="location-alerts"></p>
                  <p data-ng-if="location.closed_for">
                    Closed for {{location.closed_for}}
                  </p>

                  <div data-ng-if="!closingMessage && !location.closed_for">
                    {{ location.hoursToday(location.hours) | timeFormat }}
                  </div>
                </p>
              </div>
            </td>
          </tr> <!-- End data-ng-repeat -->
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- End List View -->
