<div class="content grid">
  <nyplalerts data-ng-if="siteWideAlert || libraryAlert" sitewidealert='{{siteWideAlert}}'
  libraryalert='{{libraryAlert}}'></nyplalerts>

  <ul class="inline breadcrumb">
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
      <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label"></a>
      <span ng-if="$last" ng-bind="breadcrumb.label"></span>
    </li>
  </ul>

  <section class="grid h-card">
    <div class="grid__item one-whole lap-and-up-two-thirds">
      <h1 class="p-org">Directions to<br />{{location.name}}</h1>
      <div class="grid">
        <div class="grid__item one-whole lap-and-up-one-half">
          <div class="p-adr">
            <div class="p-street-address">{{location.street_address}}</div>
            <span class="p-locality">{{location.locality}}</span>, 
            <span class="p-region">{{location.region}}</span>, 
            <span class="p-postal-code">{{location.postal_code}}</span>
          </div>
          <div class="p-tel">{{location.contacts.phone}}</div>
        </div>
      </div>
    </div><!--

    --><div class="grid__item one-whole lap-and-up-one-third">
      <todayshours hours="{{hoursToday(location.hours) | hoursTodayFormat:'short'}}" />
      <div><a class="icon-compass" href="https://maps.google.com/maps?saddr={{locationStart}}&daddr={{locationDest}}">Get Directions</a></div>
    </div>
  </section>

  <section class="grid locationMap grid--center">
    <div id="individual-map" class="grid__item nypl-map"></div>
  </section>

  <section class="chunk directions">

  </section>

  <askdonatefooter chatHref="" emailHref="" donateHref="" />
  
</div>  