<div class="content grid">
  <p>Go back <a href="/#/{{location.slug}}">{{location.name}}</a></p>

  <section class="grid h-card">
    <div class="grid__item one-whole lap-and-up-two-thirds">
      <h1 class="p-org">Directions to<br />{{location.name}}</h1>
      <div class="grid">
        <div class="grid__item one-whole lap-and-up-one-half">
          <div class="p-adr">
            <div class="p-street-address">{{location.street_address}}</div>
            <span class="p-locality">{{location.locality}}</span>, 
            <span class="p-region">{{location.region}}</span>, 
            <span class="p-postal-code">{{location.postal_code}}</span>
          </div>
          <div class="p-tel">{{location.contacts.phone}}</div>
        </div>
      </div>
    </div><!--

    --><div class="grid__item one-whole lap-and-up-one-third">
      <todayshours hours="{{hoursToday | hoursTodayFormat:'short'}}" />
      <div><a class="icon-compass" href="https://maps.google.com/maps?saddr={{locationStart}}&daddr={{locationDest}}">Get Directions</a></div>
    </div>
  </section>

  <section class="grid locationMap grid--center">
    <div id="individual-map" class="grid__item nypl-map"></div>
  </section>

  <section class="chunk directions">

  </section>

  <askdonatefooter chatHref="" emailHref="" donateHref="" />
  
</div>  