<div class="grid" data-ng-controller="MenuCtrl">
  <section class="grid__item one-whole">
    <form>
      Enter your Zip code: <input type="text" data-ng-model="zipcode" />
      <button data-ng-click="submitAddress(zipcode)">Submit</button>
    </form>
    <p>Or <a href="/#/">view all branches</a></p>
  </section>

  <!-- Locations are in h-card microformat -->
  <!-- http://microformats.org/wiki/h-card -->
  <section data-ng-repeat="location in locations | filter:searchLocations | filter:location.library_type | orderBy:sort:reverse" class="location {{location.id}} grid one-whole">
    <div class="h-card grid__item one-half">
      <div class="p-org"><b>{{location.name}}</b></div>
      <div class="p-adr">
        <div class="p-street-address">{{location.street_address}}</div>
        <span class="p-locality">{{location.locality}}</span>, 
        <span class="p-region">{{location.region}}</span>, 
        <span class="p-postal-code">{{location.postal_code}}</span>
      </div>
      <div class="p-tel" data-ng-show="location.contacts.phone">Phone: {{location.contacts.phone}}</div>
      <div><a href="">Get Directions</a></div>
    </div><!--

    --><div class="h-card grid__item one-half">
      <div data-ng-show="location.distance"><strong>{{location.distance}} miles</strong></div>
      <div>hours will be displayed here</div>
    </div>
  </section>

  <section class="grid__item one-whole">
    <a href="/#/">View more branches near you</a>
  </section>
</div>
