<section class="research-collections">

  <h2 class="title">Research Collections</h2>
  <div class='collection-filters'>
    <div class='main-filters'>
      <span class='heading'>
        Filter By:
      </span>
      <span class='filterable-by'>
        <button data-ng-repeat="term in terms" data-ng-click="setSubterms($index, term)"
          data-ng-class="{active: $index == selected}">
          {{term.name}}
        </button>
        <button data-ng-click="setLocations(divisionLocations)" data-ng-class="{active: activeFilter}">Locations</button>
      </span>
    </div>
    <div class='sub-filters'>
      <ul data-ng-class="{'locations-active': activeFilter}" data-ng-if="subterms">
        <li class="term {{term.name}}" data-ng-repeat="term in subterms">
          <a href="" data-ng-click="filterDivisionsBy($index, term)" data-ng-model="term.name" data-ng-class="{active: $index == selectedSubterm}">{{term.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <section class="collections-results">
    <div class='filtered-divisions'>
      <div id="container__divisions" data-ng-if="divisions">
        <h2 class="hdg">DIVISIONS</h2>
        <div class="grid">
          <div class="grid__item one-whole tablet-and-up-one-half lap-and-up-one-third"
            data-ng-repeat='division in filteredDivisions track by $index'>
            <div class="division-wrapper">
              <a data-ng-if="division.slug != 'sibl'"
                data-ui-sref="division({division: division.slug})"
                analytics-on="click" analytics-category="Locations"
                analytics-event="Division Image" analytics-label="{{division.name}}">
                <img class="img--outline division-image" data-ng-src="{{division.images.interior}}"
                  alt="Image for {{division.name}}" title="Image for {{division.name}}" style="max-height: 235px;" />
              </a>
              <h4 class="division-name" data-ng-if="division.slug != 'sibl'">
                <a data-ui-sref="division({division: division.slug})"
                  analytics-on="click" analytics-category="Locations"
                  analytics-event="Division Title" analytics-label="{{division.name}}">
                  {{division.name}}
                </a>
              </h4>

              <!-- Just for SIBL -->
              <a data-ng-if="division.slug == 'sibl'"
                data-ui-sref="location({location: division.slug})"
                analytics-on="click" analytics-category="Locations"
                analytics-event="Division Image" analytics-label="{{division.name}}">
                <img class="img--outline division-image" data-ng-src="{{division.images.exterior}}"
                  alt="Image for {{division.name}}" title="Image for {{division.name}}" style="max-height: 235px;" />
              </a>
              <h4 class="division-name" data-ng-if="division.slug == 'sibl'">
                <a data-ui-sref="location({location: division.slug})"
                  analytics-on="click" analytics-category="Locations"
                  analytics-event="Division Title" analytics-label="{{division.name}}">
                  {{division.name}}
                </a>
              </h4>
              <!-- End Just for SIBL -->

              <p data-ng-if="division.hours">Hours Today: {{division.hoursToday | timeFormat}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
