<section class="research-collections">

  <h2 class="title">Research Collections</h2>
  <div class='collection-filters'>
    <div class="active-filters" data-ng-if="showActiveFilters">
      Current filters:
      <div>
        <span data-ng-repeat='activeFilter in filter_results | filter:{active: true}'>
          {{activeFilter.label}}: <a data-ng-click="removeFilter(activeFilter)" class="active-filter">{{activeFilter.name}}
            <span class="icon-cancel-circle"></span></a>
        </span>
      </div>
    </div>

    <div class='main-filters'>
      <span class='heading'>
        Filter by:
        <span class="main-filter-toggle" ng-click="expand = !expand" 
        ng-class="{'icon-arrow-right2': !expand, 'icon-arrow-down2': expand}"></span>
      </span>
      <span class='filters-wrapper' collapse="expand" duration="2500">
        <span class='filterable-by'>
          <button data-ng-repeat="term in terms" class="categoryTerm"
            data-ng-click="selectCategory($index, term)"
            data-ng-class="{active: categorySelected == $index}">
            {{term.name}}
          </button>
        </span>

        <div class='sub-filters'>
          <ul class='three-columns'>
            <li class="term {{term.name}}" data-ng-repeat="term in terms[0].terms" data-ng-show="activeCategory == 'Subjects'" class="subjectSubterms">
              <a href="" data-ng-click="filterDivisionsBy($index, term)"
                data-ng-model="term.name" data-ng-class="{active: $index == selectedSubjectsSubterm}">{{term.name}}</a>
              <collapsible-filters data="term.terms" data-ng-if="term.terms" filter-item="filterDivisionsBy($index,term)" filtered-results="filter_results"></collapsible-filters>
            </li>
            <li class="term {{term.name}}" data-ng-repeat="term in terms[1].terms" data-ng-show="activeCategory == 'Media'" class="mediaSubterms">
              <a href="" data-ng-click="filterDivisionsBy($index, term)"
                data-ng-model="term.name" data-ng-class="{active: $index == selectedMediaSubterm}">{{term.name}}</a>
            </li>
            <li class="term {{term.name}}" data-ng-repeat="term in terms[2].locations" data-ng-show="activeCategory == 'Locations'" class="locationSubterms">
              <a href="" data-ng-click="filterDivisionsBy($index, term)"
                data-ng-model="term.name" data-ng-class="{active: $index == selectedLocationsSubterm}">{{term.name}}</a>
            </li>
          </ul>

        </div>
      </span>
    </div>
  </div>

  <section class="collections-results">
    <div class='filtered-divisions'>
      <div id="container__divisions" data-ng-if="divisions">
        <h2 class="hdg">DIVISIONS</h2>
        <div class="grid">
          <div class="grid__item one-whole tablet-and-up-one-half lap-and-up-one-third repeat-animation"
            data-ng-repeat='division in filteredDivisions track by $index'>
            <div class="division-wrapper" data-ng-if="division.slug != 'sibl'">
              <a data-ng-href="/locations/divisions/{{division.slug}}"
                analytics-on="click" analytics-category="Locations"
                analytics-event="Division Image" analytics-label="{{division.name}}">
                <img class="img--outline division-image" data-ng-src="{{division.images.collection_item}}"
                  alt="Image for {{division.name}}" title="Image for {{division.name}}" style="max-height: 235px;" />
              </a>
              <h4 class="division-name">
                <a data-ng-href="/locations/divisions/{{division.slug}}"
                  analytics-on="click" analytics-category="Locations"
                  analytics-event="Division Title" analytics-label="{{division.name}}">
                  {{division.name}}
                </a>
              </h4>
              <p data-ng-if="division.hours">Hours Today: {{division.hoursToday | timeFormat}}</p>
            </div>

            <!-- SIBL  -->
            <div class="division-wrapper" data-ng-if="division.slug == 'sibl'">
              <a data-ng-href="/locations/{{division.slug}}"
                analytics-on="click" analytics-category="Locations"
                analytics-event="Division Image" analytics-label="{{division.name}}">
                <img class="img--outline division-image" data-ng-src="{{division.images.interior}}"
                  alt="Image for {{division.name}}" title="Image for {{division.name}}" style="max-height: 235px;" />
              </a>
              <h4 class="division-name">
                <a data-ng-href="/locations/{{division.slug}}"
                  analytics-on="click" analytics-category="Locations"
                  analytics-event="Division Title" analytics-label="{{division.name}}">
                  {{division.name}}
                </a>
              </h4>
              <p data-ng-if="division.hours">Hours Today: {{division.hoursToday | timeFormat}}</p>
            </div>
            <!-- SIBL END -->
          </div>
        </div>
      </div>
    </div>
  </section>
</section>