<section class="research-collections">

  <h2 class="title">Research Collections</h2>
  <div class='collection-filters'>
    <div class='main-filters'>
      <span class='heading'>
        Filter By:
        <span class="main-filter-toggle" ng-click="expand = !expand" 
        ng-class="{'icon-arrow-right2': !expand, 'icon-arrow-down2': expand}"></span>
      </span>
      <span class='filters-wrapper' collapse="expand" duration="2500">
        <span class='filterable-by'>
          <button data-ng-repeat="term in terms"
            data-ng-click="setSubterms($index, term)"
            data-ng-class="{active: selected == $index}">
            {{term.name}}
          </button>
        </span>

        <div class='sub-filters'>
          <ul data-ng-class="{'locations-active': active_filter}">
            <li class="term {{term.name}}" data-ng-repeat="term in terms[0].terms" data-ng-show="active_filter == 'Subjects'">
              <a href="" data-ng-click="filterDivisionsBy($index, term)"
                data-ng-model="term.name" data-ng-class="{active: $index == selectedSubjectsSubterm}">{{term.name}}</a>
            </li>
            <li class="term {{term.name}}" data-ng-repeat="term in terms[1].terms" data-ng-show="active_filter == 'Media'">
              <a href="" data-ng-click="filterDivisionsBy($index, term)"
                data-ng-model="term.name" data-ng-class="{active: $index == selectedMediaSubterm}">{{term.name}}</a>
            </li>
            <li class="term {{term.name}}" data-ng-repeat="term in terms[2].locations" data-ng-show="active_filter == 'Locations'" data-ng-class="{mobileRemove: $index != selectedLocationsSubterm, active: active_filter == 'Locations'}">
              <a href="" data-ng-click="filterDivisionsBy($index, term)"
                data-ng-model="term.name" data-ng-class="{active: $index == selectedLocationsSubterm}">{{term.name}}</a>
            </li>

           <!--  <li data-ng-repeat-start="subterm in terms">
              <p data-ng-repeat="s in subterm.terms">{{s.name}}</p>
            <li data-ng-repeat-end>
 -->
          </ul>
        </div>
      </span>
    </div>

    <div class="filter_results" data-ng-if='active_filter'>
      Current filters:
      <ul>
        <li data-ng-repeat='fr in filter_results | filter:{active: true}'>
          {{fr.label}}: {{fr.name}}
        </li>
      </ul>

    </div>
  </div>

  <section class="collections-results">
    <div class='filtered-divisions'>
      <div id="container__divisions" data-ng-if="divisions">
        <h2 class="hdg">DIVISIONS</h2>
        <div class="grid">
          <div class="grid__item one-whole tablet-and-up-one-half lap-and-up-one-third repeat-animation"
            data-ng-repeat='division in filteredDivisions track by $index'>
            <div class="division-wrapper" data-ng-if="division.slug != 'sibl'">
              <a data-ui-sref="division({division: division.slug})"
                analytics-on="click" analytics-category="Locations"
                analytics-event="Division Image" analytics-label="{{division.name}}">
                <img class="img--outline division-image" data-ng-src="{{division.images.collection_item}}"
                  alt="Image for {{division.name}}" title="Image for {{division.name}}" style="max-height: 235px;" />
              </a>
              <h4 class="division-name">
                <a data-ui-sref="division({division: division.slug})"
                  analytics-on="click" analytics-category="Locations"
                  analytics-event="Division Title" analytics-label="{{division.name}}">
                  {{division.name}}
                </a>
              </h4>
              <p data-ng-if="division.hours">Hours Today: {{division.hoursToday | timeFormat}}</p>
            </div>

            <!-- SIBL  -->
            <div class="division-wrapper" data-ng-if="division.slug == 'sibl'">
              <a data-ui-sref="location({location: division.slug})"
                analytics-on="click" analytics-category="Locations"
                analytics-event="Division Image" analytics-label="{{division.name}}">
                <img class="img--outline division-image" data-ng-src="{{division.images.interior}}"
                  alt="Image for {{division.name}}" title="Image for {{division.name}}" style="max-height: 235px;" />
              </a>
              <h4 class="division-name">
                <a data-ui-sref="location({location: division.slug})"
                  analytics-on="click" analytics-category="Locations"
                  analytics-event="Division Title" analytics-label="{{division.name}}">
                  {{division.name}}
                </a>
              </h4>
              <p data-ng-if="division.hours">Hours Today: {{division.hoursToday | timeFormat}}</p>
            </div>
            <!-- SIBL END -->
          </div>
        </div>
      </div>
    </div>
  </section>
</section>