<div class="content grid">
  <section class="grid">

    <div class="grid__item">
      <h2 data-ng-if="library_name">{{library_name}}</h2>
      <h2 data-ng-if="service_name">{{service_name}}</h2>

      <h2 data-ng-if="!library_name && !service_name">All Services</h2>
    </div>
    <ul data-ng-if="services">
      <li data-ng-repeat="service in services">
        <a href="/#/services/{{service.id}}">{{service.name}}</a>, Id: {{service.id}}
      </li>
    </ul>

    <ul data-ng-if="locations">
      <li data-ng-repeat="location in locations">
        <a href="/#/{{location.id}}">{{location.name}}</a>, Id: {{location.id}}
      </li>
    </ul>
    
  </section>

  <askdonatefooter chatHref="" emailHref="" donateHref="" />
  
</div>  