<!-- Widget Location/Division -->
<div id="container__widget_info">
  <div class="widget-content">
    <div id="container__image" class="grid__item desk-one-third">
      <img class="img--outline" data-ng-if="data.open && data.images.exterior"
        data-ng-src="{{data.images.exterior}}" alt="{{data.name}}"
        title="{{data.name}}" />
      <img class="img--outline" data-ng-if="!data.open" data-ng-src="{{data.images.closed}}"
        alt="Branch Closed" title="Branch closed" />
    </div><!--

    --><div id="container__address" class="grid__item one-whole lap-one-half desk-one-third">
      <!-- This is h-card microformat -->
      <!-- http://microformats.org/wiki/h-card -->
      <div class="p-adr" data-ng-if="!division">
        <div class="p-street-address">{{data.street_address}}</div>
        <span class="p-locality">{{data.locality}}</span>,
        <span class="p-region">{{data.region}}</span>,
        <span class="p-postal-code">{{data.postal_code}}</span>
        <div class="p-tel">{{data.contacts.phone}}</div>
        <div class="p-manager" data-ng-if="data.contacts.manager">
          <span data-ng-if="data.contacts.manager.title">
            {{ data.contacts.manager.title }}:
          </span>
          <span data-ng-if="data.contacts.manager.fn">
            {{ data.contacts.manager.fn }}
          </span>
        </div>

      </div>

      <div class="p-adr" data-ng-if="division">
        <div class="location-name">{{data._embedded.location.name}}</div>
        <div class="p-street-address">{{data._embedded.location.street_address}}</div>
        <div data-ng-if="data.cross_street">{{data._embedded.location.cross_street}}</div>
        <div data-ng-if="data.floor">
          <span>{{data.floor}}</span>
          <span data-ng-if="data.room" class="room" style="margin-left: -5px;">
          , Room {{data.room}}
          </span>
        </div>
        <span class="p-locality">{{data._embedded.location.locality}}</span>,
        <span class="p-region">{{data._embedded.location.region}}</span>,
        <span class="p-postal-code">{{data._embedded.location.postal_code}}</span>
        <div class="p-tel">{{data.contacts.phone}}</div>
        <div class="p-manager" data-ng-if="data.contacts.manager">
          <span data-ng-if="data.contacts.manager.title">
            {{ data.contacts.manager.title }}:
          </span>
          <span data-ng-if="data.contacts.manager.fn">
            {{ data.contacts.manager.fn }}
          </span>
        </div>
      </div>

      <!-- Accessibility -->
      <div id="accessibility__container">
        <div data-ng-if="data.access == 'Fully Accessible'" class="accessible">
          <span class="fully icon-accessibility"></span>
          {{data.access}}
        </div>
        <div data-ng-if="data.access == 'Partially Accessible'" class="accessible">
          <span class="partially icon-accessibility"></span>
          {{data.access}}
        </div>
        <div data-ng-if="!data.access" class="not-accessible">
          <span class="none icon-accessibility"></span>
          Not Accessible
        </div>
      </div>

      <div class="map-directions" data-ng-if="!division">
        <a class="icon-compass"
          analytics-on="click" analytics-category="Location Widget"
          analytics-event="Directions" analytics-label="{{widget_name}}"
          data-ng-href="https://maps.google.com/maps?saddr={{locationStart}}&daddr={{locationDest}}">
          Get Directions
        </a>
      </div>

      <div class="social flush beta" data-ng-if="data.social_media">
        <a class="{{social.classes}}" data-ng-href="{{social.href}}" id="social_media"
          data-ng-repeat="social in data.social_media" class="inline"
          title="{{social.site}}"
          analytics-on="click" analytics-category="Location Widget"
          analytics-event="Social Media" analytics-label="{{social.site}}"></a>
      </div>
    </div><!--

    --><div id="container__hours" class="grid__item lap-one-half one-whole desk-one-third">
      <!-- Display for open Location/Division -->
      <div class="callout branch-open" data-ng-if="data.open">
        <!-- Hours Today -->
        <todayshours class="todays-hours" hours="data.hours" alerts="data._embedded.alerts" display-icon="true" />
      </div>
      <div class="callout branch-closed" data-ng-if="!data.open">
        <h2>Branch is temporarily closed.</h2>
      </div>
    </div><!--

    --><div class="grid__item lap-one-half one-whole grid--center learn-more">
      <p>
        <a class="gamma" data-ng-href="{{locinator_url}}"
          analytics-on="click" analytics-category="Location Widget"
          analytics-event="Click" analytics-label="Learn More">
          Learn about hours, amenities, events, and more.<span class="icon-arrow-right22"></span>
        </a>
      </p>
    </div>
  </div>

  <!-- Ask/Donate -->
  <div class="ask-donate">
    <nypl-fundraising fundraising="data.fundraising" category="Location Widget"></nypl-fundraising><!--

    --><div class="askNYPL grid__item one-whole lap-and-up-one-half " id="ask-nypl">
      <h2>
        <span id="ask-nypl-title">Ask NYPL</span>
      </h2>
      <ul>
        <li class="asknum">
          Have a question? Call <a href="tel:917-275-6975" aria-label="9 1 7 ASK NYPL">917-ASK-NYPL</a><br />
          <a href="tel:917-275-6975" aria-label="9 1 7 2 7 5 6 9 7 5">917-275-6975</a> |
					<abbr title="Teletype">TTY</abbr> <a href="tel:212-930-0020" aria-label="2 1 2 9 3 0 0 0 2 0">212-930-0020</a>
        </li>
        <li>
          <librarianchatbutton
            analytics-on="click" analytics-category="Location Widget"
            analytics-event="Click" analytics-label="Chat" />
        </li>
        <li>
          <emailusbutton link="{{data._links.contact.href}}"
            analytics-on="click" analytics-category="Location Widget"
            analytics-event="Click" analytics-label="Email Question" />
        </li>
      </ul>
    </div>
  </div>
</div>
