!!!
%html
  %head
    %title NYPL | Amenities at #{@loc.name}
  %body
    %h1 
      Amenities at 
      %a{:href => "../../#/#{@loc.slug}"}= @loc.name
    %ul
      - @data.each do |cat|
        %li
          = cat.name
          %ul
            - cat.amenities.each do |a|
              %li
                %div
                  %a(href="../../#/amenities/id/#{a['_id']}")= a["name"]
                - if ! a["_links"]["info"].nil? 
                  %div
                    %a{:href => a['_links']['info']['href']}
                      Learn More

