!!!
%html
  %head
    %title Locations and Hours
  %body
    %h1 Locations and Hours
    %table
      %thead
        %tr
          %th
            Location
          %th
            Today's Hours
      %tbody
      - @data.each do |i|
        %tr
          %td
            %a{:href => "/\#/#{i.slug}"}= i.name
          %td
            Hours
