<h2>Hours</h2>
<table>
  <thead>
    <tr>
      <td>Day</td>
      <td>Hours</td>
    </tr>
  </thead>
  <tbody>
  <% locals[:hours].each do |day| %>
  <% if day.closedOn? %>
    <tr>
      <td><%= day.day %></td>
      <td>Closed</td>
    </tr>
  <% else %>
    <tr itemprop="openingHours" content="">
      <td><%= day.day %></td>
      <td><%= day.open %>-<%= day.close %></td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
