<!doctype html>
<html>
  <head>
    <title>NYPL | Amenities</title>
  </head>
  <body>
    <h1>Amenities</h1>

   <%= erb :seo_amenities_list, :locals => {:amenities => @amenities, :depth => 1 } %> 

  </body>
</html>
