/*------------------------------------*\
    LOCATIONS.CSS
\*------------------------------------*/
/** 
 * This stylesheet lives on top of NYPLBase.
 *
**/

// Main page wrapper
// (Necessary for centering grid items)
.wrapper {
	margin: 0 auto;
	padding: 0 24px;
	max-width: 1200px;
}

// Individual Location's page
// spacing beneath each section 
#container__address,
#container__image,
#container__hours,
#container__top_services,
#container__events,
#container__about,
#container__blogs,
#container__exhibitions {
	margin-bottom: 24px;
}

// Individual containers for all sections
#container__image {
	float: left; // Fix for proper positioning on desktop
	display: none;

	// Hidden on mobile
	@media only screen and (min-width: 769px) {
		display: inline-block;
	}
}

#container__hours {
	float: right;

}

#container__address {

	.p-adr {
		margin: 0 .35em;

		.p-street-address, .p-manager {
			margin-bottom: .25em;
		}

		.p-tel {
			margin: .25em 0;
		}
	}

	.wheelchair {
		margin: .25em 0;
	}
}

// Events section
#container__events {

	h4 {
		margin-bottom: .05em;
	}
	.callout {
		margin-bottom: 24px;
		
		p {
			margin: 0;
		}
	}

	.event-buttons {
		text-align: center;
		margin: 0; 
		padding: 0;
	}
} 

// Highlighted Services section
#container__top_services {

	.callout {
		position: relative;

		ul {
			li {
				display: block;

				@media only screen and (min-width: 601px) {
					margin-right: .35em;
					display: inline;
				}
				span {
					vertical-align: -2px;
				}
			}
		}

		.read-more {
			display: inline-block !important;
			margin: .35em 0;

			@media only screen and (min-width: 601px) {
				margin: 0;
				position: absolute;
				right: 7px;
				top: 7px;
			}
		}
	}
}
 
// larger search box
input.searchbox--locinator{
	font-size: 2rem;
	height: 3.5rem;
	padding-left: 3rem;
	width: 95%;
}

// position icons in search box
.form--locinator{
	position: relative;

	.icon-search, .icon-cancel-circle{
		color: #c5c2bb;
		font-size: 24px;
		
		// positioning
		position: absolute;
		top: 14px;
	}
	.icon-search{
		left: 18px;
	}		
	.icon-cancel-circle{
		right: 18px;
	}	
}


// add margin above form
.form--locinator {
	margin-top: 2rem;
}

// color on alt searches buttons
.filters{
	& a{
		background-color: darken(#0090c4, 15%);	
	}
}

/**
 * Map styles
 */

// nice border on maps
.nypl-map {
	border: 3px solid #e2dedb;
	border-radius: 2px;
}

#all-locations-map{
	height: 350px;
}

#individual-map { 
  height: 350px;
  width: 800px;
}

#full-page-map {
	height: 1400px;
	width: 100%;
}

// Map legend for the homepage map
#all-locations-map-legend {
  padding: 10px;
  font-size: 13px;
  font-size: 1.3em;
  background: #fff;
}

.hide-legend {
  display: none;
}

.show-legend {
  display: block;
}

// Fix to display the closing 'X' on marker's infowindow
img[src*="gstatic.com/"], 
img[src*="googleapis.com/"] {
	max-width: none;
}


/**
 * Locations results
 */

// add border separator to each result 
.location .location{
	border-bottom: 1px solid #e2dedb;
	margin-bottom: 2rem;
}

// add margin to results headings, location name
.results--heds,
.p-org{
	margin-bottom: .5rem;
}

.location-sorter {
	cursor: pointer;
}

// remove margin on hours list
.results--more ul{
	margin-left: 1rem;
}


#catalog-link {
	background-color: rgba(#0090c4, .2);
	border-radius: 2px;
	color: darken(#0090c4, 10%);
	padding: 4px;
	text-decoration: none;
	margin-left: .35em;

	@media only screen and (min-width: 601px) {
		margin-left: 52px;
	}
	
	&:hover {
		color: #0090c4;
		text-decoration: underline;	
	}
}

#hours-today{
	
	margin-left: -.35em;

	@media only screen and (min-width: 601px) {
		margin-left: 0;
	}

	.hours-today {

		font-size: 14px;
		font-size: 1.4rem;

		@media only screen and (min-width: 601px) {
			font-size: 16px;
			font-size: 1.6rem;
		}		

		span {
			vertical-align: -2px;
		}
	}
}

#location-hours, #division-hours {

	margin-top: 12px;
	margin-bottom: 24px;
	margin-left: .35em;

	@media only screen and (min-width: 601px) {
		// line up under today's hours
		margin-left: 52px;
	}

	// no border for this hdg
	.hdg{
		border-width: 0;
	}
}
 
/**
 * AskNYPL
 */
.askNYPL{
	// adjust padding from grid__item
	@media only screen and (max-width: 601px) {
		padding-left: 0;
		padding-top: 24px;
	}

	ul{
		color: #5e564b;
		
		// override default margin
		margin-left: 0px;
		
		// positions elements
		text-align: center;
	}
	
	li{
		list-style-type: none;
		margin-bottom: .5rem;
	}
	
	[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
		vertical-align: baseline;
	}
	
	.asknum{
		@media only screen and (min-width: 568px){
			font-size: 36px;
		}
	}
	
	.askchat,.askemail{
		// "button" style
		background-color: #ece94c;
		border-radius: 2px;
		color: #5e564b;
		padding: 6px;		
		text-decoration: none;
		
		&:hover{
			background-color: lighten(#ece94c, 20%);
		}
	}


}