/*------------------------------------*\
    LOCATIONS.CSS
\*------------------------------------*/
/** 
 * This stylesheet lives on top of NYPLBase.
 *
 * Put styling/positioning/etc. that is 
 * specific to NYPL.org Locations section.
 *
 */

.content{
	margin: 0 16px !important;
}



/** 
 * Locinator 
 */
 
// larger search box
input.searchbox--locinator{
	font-size: 2rem;
	height: 3.5rem;
	padding-left: 3rem;
	width: 95%;
}

// position icons in search box
.form--locinator{
	position: relative;

	.icon-search, .icon-cancel-circle{
		color: #c5c2bb;
		font-size: 24px;
		
		// positioning
		position: absolute;
		top: 14px;
	}
	.icon-search{
		left: 18px;
	}		
	.icon-cancel-circle{
		right: 18px;
	}	
}


// add margin above form
.form--locinator {
	margin-top: 2rem;
}

// color on alt searches buttons
.filters{
	& a{
		background-color: darken(#0090c4, 15%);	
	}
}

/**
 * Map styles
 */

// nice border on maps
.nypl-map {
	border: 3px solid #e2dedb;
	border-radius: 2px;
}

#all-locations-map{
	height: 350px;
}

#individual-map { 
  height: 350px;
  width: 800px;
}

// Map legend for the homepage map
#all-locations-map-legend {
  padding: 10px;
  font-size: 13px;
  font-size: 1.3em;
  background: #fff;
}

.hide-legend {
  display: none;
}

.show-legend {
  display: block;
}

// Fix to display the closing 'X' on marker's infowindow
img[src*="gstatic.com/"], 
img[src*="googleapis.com/"] {
	max-width: none;
}


/**
 * Locations results
 */

// add border separator to each result 
.location .location{
	border-bottom: 1px solid #e2dedb;
	margin-bottom: 2rem;
}

// add margin to results headings, location name
.results--heds,
.p-org{
	margin-bottom: .5rem;
}

.location-sorter {
	cursor: pointer;
}

// remove margin on hours list
.results--more ul{
	margin-left: 1rem;
}

 
 
/**
 * Location/Division
 */

// spacing beneath each section 
.container__address,
.container__services,
.container__hours{
	margin-bottom: 24px;
}

#catalog a{
	background-color: rgba(#0090c4, .2);
	border-radius: 2px;
	color: darken(#0090c4, 10%);
	padding: 4px;
	text-decoration: none;
	
	&:hover{
		color: #0090c4;
		text-decoration: underline;	
	}
}

#hours-today{
	// adjust padding from grid__item
	@media only screen and (max-width: 599px){
		padding-left: 0px;
	}
}

#location-hours, #division-hours {
	margin-top: 12px;
	margin-bottom: 24px;
	
	// line up under today's hours
	margin-left: 30px;
	@media only screen and (min-width: 600px){
		margin-left: 54px;
	}
	
	
	// no border for this hdg
	.hdg{
		border-width: 0;
	}
}

 
 
 
/**
 * AskNYPL
 */
.askNYPL{
	// adjust padding from grid__item
	@media only screen and (max-width: 600px){
		padding-left: 0;
		padding-top: 24px;
	}

	ul{
		color: #5e564b;
		
		// override default margin
		margin-left: 0px;
		
		// positions elements
		text-align: center;
	}
	
	li{
		list-style-type: none;
		margin-bottom: .5rem;
	}
	
	[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
		vertical-align: baseline;
	}
	
	.asknum{
		@media only screen and (min-width: 568px){
			font-size: 36px;
		}
	}
	
	.askchat,.askemail{
		// "button" style
		background-color: #ece94c;
		border-radius: 2px;
		color: #5e564b;
		padding: 6px;		
		text-decoration: none;
		
		&:hover{
			background-color: lighten(#ece94c, 20%);
		}
	}


}