/*------------------------------------*\
    LOCATIONS.CSS
\*------------------------------------*/
/** 
 * This stylesheet lives on top of NYPLBase.
 *
 * Put styling/positioning/etc. that is 
 * specific to NYPL.org Locations section.
 *
 */

.content{
	margin: 0 16px !important;
}

/** 
 * Locinator 
 */
 
// larger search box
input.searchbox--locinator{
	font-size: 2rem;
	height: 3.5rem;
	width: 95%;
}

// add margin above form
.form--locinator {
	margin-top: 2rem;
}

// color on alt searches buttons
.filters{
	& a{
		background-color: darken(#0090c4, 15%);	
	}
}

// nice border on map
#all-locations-map{
	border: 3px solid #e2dedb;
	border-radius: 2px;
}

/**
 * Locations results
 */

// add border separator to each result 
.location .location{
	border-bottom: 1px solid #e2dedb;
	margin-bottom: 2rem;
}

// add margin to results headings, location name
.results--heds,
.p-org{
	margin-bottom: .5rem;
}

// remove margin on hours list
.results--more ul{
	margin-left: 1rem;
}

 
/**
 * AskNYPL
 */
.askNYPL{
	li{
		list-style-type: none;
		margin-bottom: .5rem;
	}
	
	[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
		vertical-align: baseline;
	}
	
	.askchat,.askemail{
		// put custom SVG icon
			background-position: 3px;
			background-repeat: no-repeat;
			background-size: 40px;
			padding-left: 64px;
	}
	.askchat {background-image: url(../images/AskNYPL_bubbles.svg);}
	.askemail{background-image: url(../images/AskNYPL_envelope.svg);}

}