files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/08_installations.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      gem install bundler
      sudo /usr/bin/npm install -g bower --prefix /usr/local --allow-root
      sudo yum install -y git -v
    encoding: plain