files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/09_run-app.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /var/app/current && \
      bundle install && \
      export HOME="/var/app/current" && \
      /usr/local/bin/bower install --allow-root --force
    encoding: plain