<nav id="main-nav">
  <div class="nav-wrapper">
    <ul class="container__primary-links">
      
      <li class="dropDown">
        <a href="http://nypl.bibliocommons.com/dashboard/user_dashboard">My NYPL</a>
        <div class="dropDown_Content">
          <ul class="top-level">
            <li>
              <h5>My Borrowing</h5>
              <ul>
                <li><a href="http://nypl.bibliocommons.com/checkedout">Checked Out</a></li>
                <li><a href="http://nypl.bibliocommons.com/holds/index/active">Holds</a></li>
                <li><a href="http://nypl.bibliocommons.com/fines">Fines</a></li>
                <li><a href="http://nypl.bibliocommons.com/accountmessages">Library Messages</a></li>
              </ul>
            </li>
            <li>
              <h5>My Shelves</h5>
              <ul>
                <li>
                  <a href="http://nypl.bibliocommons.com/collection/show/my/library/completed" title="">Completed</a>
                </li>
                <li>
                  <a href="http://nypl.bibliocommons.com/collection/show/my/library/in_progress" title="">In progress</a>
                </li>
                <li>
                  <a href="http://nypl.bibliocommons.com/collection/show/my/library/for_later" title="">For later</a>
                </li>
                <li class="last">
                  <a href="http://nypl.bibliocommons.com/lists/show/mine" title="">My Lists</a>
                </li>
              </ul>
            </li>
            <li>
              <h5>My Community</h5>
              <ul>
                <li>
                  <a href="http://nypl.bibliocommons.com/trustedsources" title="">I'm Following</a>
                </li>
                <li>
                  <a href="http://nypl.bibliocommons.com/ignoredusers" title="">Ignored Users</a>
                </li>
                <li>
                  <a href="http://nypl.bibliocommons.com/recently_shared" title="">Recently Shared</a>
                </li>
                <li class="last">
                  <a href="http://nypl.bibliocommons.com/messages" title="">Inbox</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li class="dropDown">
        <a href="http://nypl.bibliocommons.com/dashboard">Explore</a>
        <div class="dropDown_Content">
          <ul class="top-level">
            <li>
              <h5>New &amp; Notable</h5>
              <ul>
                <li>
                  <a href="http://nypl.bibliocommons.com/dashboard">Recent Activity</a>
                </li>
                <li>
                  <a href="http://nypl.bibliocommons.com/explore/index/newly_acquired?f_on_order=false">New Titles</a>
                </li>
                <li>
                  <a href="http://nypl.bibliocommons.com/explore/index/awards">Award Winners</a>
                </li>
                <li>
                  <a href="http://nypl.bibliocommons.com/explore/index/best_sellers">Bestsellers</a>
                </li>
              </ul>
            </li>

            <li>
              <h5>Collections</h5>
              <ul>
                <li>
                  <a href="http://nypl.bibliocommons.com/search?q=books&amp;t=smart&amp;search_category=keyword&amp;title=Books">Books</a>
                </li>
                <li>
                  <a href="http://nypl.org/ebooks">E-books &amp; Audiobooks</a>
                </li>
                <li>
                  <a href="http://nypl.bibliocommons.com/search?q=movies&amp;t=smart&amp;search_category=keyword&amp;title=Movies">Movies</a>
                </li>
                <li>
                  <a href="http://nypl.bibliocommons.com/search?t=smart&amp;search_category=keyword&amp;q=music&amp;commit=Search&amp;searchOpt=catalogue&amp;title=Music+and+R">Music &amp; Recordings</a>
                </li>
                <li>
                  <a href="http://nypl.bibliocommons.com/search?t=smart&amp;search_category=keyword&amp;q=periodicals&amp;commit=Search&amp;searchOpt=catalogue">Periodicals</a>
                </li>
                <li>
                  <a href="http://digitalgallery.nypl.org/">Images</a>
                </li>
                <li>
                  <a href="http://nypl.org/collections/nypl-collections/braille-talking-books">Braille &amp; Talking Books</a>
                </li>
              </ul>
            </li>

            <li>
              <h5>Made at NYPL</h5>
              <ul>
                <li><a href="http://nypl.org/blog">Blogs</a></li>
                <li><a href="http://nypl.org/voices/audio-video">Audio &amp; Video</a></li>
                <li><a href="http://nypl.org/voices/print-publications">Print Publications</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li class="dropDown" data-ng-class="{active: 'locations' == activeNav}">
        <a href="http://nypl.org/collections">Research</a>
        <div class="dropDown_Content">
          <ul class="top-level">
            <li>
              <h5>Electronic Resources</h5>
              <ul>
              <li><a href="http://nypl.org/collections/articles-databases">Articles and Databases</a></li>
              <li><a href="http://nypl.org/events/online-exhibitions">Online Exhibitions</a></li>
              <li><a href="http://digitalgallery.nypl.org/">Digital Gallery</a></li>
              <li><a href="http://nypl.org/collections/labs">NYPL Labs</a></li>
              <li><a href="http://nypl.org/online_projects">Digital Projects</a></li>
              </ul>
            </li>

            <li>
              <h5>Tools and Services</h5>
              <ul>
                <li>
                  <a href="http://catalog.nypl.org/">Classic Catalog</a>
                </li>
                <li>
                  <a href="http://nypl.org/collections/nypl-recommendations/guides">Research Guides</a>
                </li>
                <li>
                  <a href="http://nypl.org/specialindexes">Indexes to NYPL Collections</a>
                </li>
                <li>
                  <a href="http://nypl.org/ask-nypl/research-questions-reproductions">Get Copies</a>
                </li>
                <li>
                  <a href="http://nypl.org/collections/nypl-recommendations">NYPL Recommendations</a>
                </li>
              </ul>
            </li>

            <li>
              <h5>Collections</h5>
              <ul>
                <li>
                  <a href="http://nypl.org/research-collections">Research Collections</a>
                </li>
                <li>
                  <a href="http://archives.nypl.org">Manuscripts and Archives</a>
                </li>
                <li>
                  <a href="http://wallachprintsandphotos.nypl.org/">Prints &amp; Photos Online Catalog</a>
                </li>
                <li>
                  <a href="http://nypl.org/collections/nypl-collections/preservation-division">Preservation of NYPL Collections</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li class="dropDown">
        <a href="http://nypl.org/help">Using the Library</a>
        <div class="dropDown_Content">
          <ul class="top-level">
            <li>
              <h5>Get Oriented</h5>
              <ul>
              <li><a href="http://nypl.org/help/library-card">Get a Library Card</a></li>
              <li><a href="http://nypl.org/help/borrowing-materials">Borrowing</a></li>
              <li><a href="http://nypl.org/help/finding-things">How To Find Things</a></li>
              <li><a href="http://nypl.org/help/computers-internet-and-wireless-access">Computers</a></li>
              <li><a href="http://nypl.org/help/community-outreach/services-for-persons-with-disabilities">Accessibility</a></li>
              <li><a href="http://nypl.org/help/about-nypl">About the NYPL</a></li>
              <li><a href="http://nypl.org/voices/connect-nypl">Connect with NYPL</a></li>
              </ul>
            </li>

            <li>
              <h5>Services</h5>
              <ul>
                <li>
                  <a href="http://nypl.org/ask-nypl">AskNYPL</a>
                </li>
                <li>
                  <a href="http://nypl.org/help/computers-internet-and-wireless-access/reserving-computer">Reserve a PC</a>
                </li>
                <li>
                  <a href="http://nypl.org/help/community-outreach">Community Outreach</a>
                </li>
                <li>
                  <a href="http://nypl.org/ask-nypl/research-questions-reproductions">Get Copies</a>
                </li>
                <li>
                  <a href="http://nypl.org/help/research-services/interlibrary-loan">Interlibrary Loan</a>
                </li>
                <li>
                  <a href="http://nypl.org/spacerental">Space Rental</a>
                </li>
                <li>
                  <a href="http://shop.nypl.org/">The Library Shop</a>
                </li>
              </ul>
            </li>

            <li>
              <h5>I am a...</h5>
              <ul>
                <li>
                  <a href="http://nypl.org/events/teaching-learning">Teacher</a>
                </li>
                <li>
                  <a href="http://nypl.org/help/getting-oriented/for-job-seekers">Job Seeker</a>
                </li>
                <li>
                  <a href="http://smallbiz.nypl.org/">Small Business Owner</a>
                </li>
                <li>
                  <a href="http://nypl.org/help/getting-oriented/resources-kids">Child</a>
                </li>
                <li>
                  <a href="http://nypl.org/help/getting-oriented/resources-teens">Teen</a>
                </li>
                <li>
                  <a href="http://nypl.org/help/community-outreach/services-for-persons-with-disabilities">Person with a Disability</a>
                </li>
                <li>
                  <a href="http://nypl.org/help/community-outreach/immigrant-services">Recent Immigrant</a>
                </li>
                <li>
                  <a href="http://nypl.org/support">NYPL Donor</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li class="dropDown" data-ng-class="{active: 'locations' == activeNav}">
        <a href="/locations">Locations</a>
        <div class="dropDown_Content">
          <ul>
            <li>
              <a href="/locations">All Locations</a>
            </li>
            <li>
              <a href="/locations/schwarzman">Schwarzman Building</a>
            </li>
            <li>
              <a href="/locations/lpa">Library for the Performing Arts</a>
            </li>
            <li>
              <a href="/locations/schomburg">Schomburg Center</a>
            </li>
            <li>
              <a href="/locations/sibl">Science, Industry and Business Library</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="dropDown">
        <a href="http://nypl.org/events">Classes &amp; Events</a>
        <div class="dropDown_Content">
          <ul>
            <li><a href="http://nypl.org/events/exhibitions">Current Exhibitions</a></li>
            <li><a href="http://nypl.org/events/public-programs">Programs</a></li>
            <li><a href="http://nypl.org/events/classes">Classes</a></li>
            <li><a href="http://nypl.org/events/classes/adult-learning-centers">Learn English</a></li>
            <li><a href="http://nypl.org/events/tours">Tours</a></li>
            <li><a href="http://nypl.org/events/exhibitions-past">Past Exhibitions</a></li>
            <li><a href="http://nypl.org/events/live-nypl">LIVE from the NYPL</a></li>
          </ul>
        </div>
      </li>

      <!-- Support -->
      <li class="dropDown">
        <a href="http://nypl.org/support">Support the Library</a>
        <div class="dropDown_Content">
          <ul>
            <li>
              <a href="https://secure3.convio.net/nypl/site/SPageServer?pagename=donation_form&amp;JServSessionIdr003=dwcz55yj27.app304a&amp;s_src=FRQ14ZZ_TNN" title="">Donate</a>
            </li>
            <li>
              <a href="http://nypl.org/support/membership" title="">Membership</a>
            </li>
            <li>
              <a href="http://nypl.org/help/about-nypl/volunteer-nypl" title="">Volunteer</a>
            </li>
            <li>
              <a href="https://secure3.convio.net/nypl/site/Donation2?df_id=1660&amp;1660.donation=form1&amp;s_src=FRW14HM_QTNN" title="Honor and Memorial Gifts">Honor and Memorial Gifts</a>
            </li>
            <li>
              <a href="http://nypl.org/support/benefit-events" title="">Benefit Events</a>
            </li>
            <li>
              <a href="http://nypl.org/support/planned-giving" title="">Planned Giving</a>
            </li>
            <li>
              <a href="http://shop.nypl.org/" title="">Shop</a>
            </li>
            <li class="last">
              <a href="http://nypl.org/support/donate" title="">More Ways to Give</a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Help -->
      <li>
        <a href="http://nypl.org/ask-nypl">Help</a>
      </li>

      <!-- Mobile Login button -->
      <li class="mobile-login">
        <a href=""
          analytics-on="click" analytics-category="SSO"
          analytics-event="Open Login Form" analytics-label="click">{{menuLabel}}</a>
      </li>
    </ul>
  </div>
</nav>