<div class='login-donate'>
  <a class='login-button'>
    <span class="label">LOG IN</span>
    <img class="logged-in-arrow" src="http://www.nypl.org/sites/all/themes/nypl_new/images/site-icons/down-triangle_15.png" />
  </a>
  <a class='donate-button' href='https://secure3.convio.net/nypl/site/SPageServer?pagename=donation_form&JServSessionIdr003=dwcz55yj27.app304a&s_src=FRQ14ZZ_SWBN'>DONATE</a>

  <!-- SSO Login -->
  <div class='sso-login'>
    <div class='login-form' data-ng-if-not="bc_logged_in"> 
      <form action="/" method="post" id="bc-sso-login-form--2" accept-charset="UTF-8">
        <div>
          <div class="form-item form-type-textfield form-item-name">
            <label for="username">Username or bar code: </label>
            <input type="text" id="username" name="name" value="" size="60" maxlength="128" class="form-text" autocomplete="off">
          </div>
          <div class="form-item form-type-password form-item-user-pin">
            <label for="pin">PIN: </label>
            <input type="password" id="pin" name="user_pin" size="60" maxlength="128" class="form-text" autocomplete="off">
          </div>
          <div class="form-item form-type-checkbox form-item-remember-me">
            <input type="checkbox" id="remember_me" name="remember_me" value="1" class="form-checkbox"> <label class="option" for="remember_me">Remember me </label>
          </div>
          <input type="hidden" name="destination" value="http://www.nypl.org/">
          <input type="submit" id="login-form-submit" name="op" value="Log In" class="form-submit">
          <div id="login-form-help">
            <a href="https://nypl.bibliocommons.com/user/forgot" class="forgotpin-button">Forgot your PIN?</a>
            <a href="http://www.nypl.org/help/library-card" class="createacct-button">Need an account?</a>
          </div>
          <input type="hidden" name="form_build_id" value="form-tydkOKr234PQ09lFW8Ffwo3vUGLb566Rw7rNZ-BfC3E">
          <input type="hidden" name="form_id" value="bc_sso_login_form">
        </div>
      </form>
    </div>
    <ul class="logged-in-menu" data-ng-if="bc_logged_in">
      <li><a href="http://nypl.bibliocommons.com/user/account">Personal Information</a></li>
      <li><a href="http://nypl.bibliocommons.com/user/saved_searches">Saved Searches</a></li>
      <li><a href="http://nypl.bibliocommons.com/user/preferences">Preferences</a></li>
      <li><a href="http://nypl.bibliocommons.com/user/privacy">Privacy</a></li>
      <li><a href="http://nypl.bibliocommons.com/user/reminders">Reminders</a></li>
      <li><a href="http://nypl.bibliocommons.com/communitycredits">Community Credits</a></li>
      <li><a href="http://nypl.bibliocommons.com/carts/order_history">Order History</a></li>
      <li><a href="http://www.nypl.org/bc_sso/logout" id="sso-logout">Log out</a></li>
    </ul>
  </div>
</div>