<div id="search-top">
  <form action="#" accept-charset="UTF-8" method="post" id="search-block-form">
    <fieldset class="pseudo-select">
      <ul>
        <li class="search-the-catalog">
          <label>
            <input name="searchtype" type="radio" checked="checked"/>
            Catalog
          </label>
        </li>
        <li class="search-the-website">
          <label>
            <input name="searchtype" type="radio"/>
            NYPL.org
          </label>
        </li>
      </ul>
    </fieldset>

    <input class="form-text" maxlength="128" id="search-block-form-input" name="search_block_form" type="text" placeholder="Find books, music, movies and more" autocomplete="false"/>
    <button alt="Search" class="search-button icon-search" name="commit" title="Search"></button>
  </form>

  <div class="search-classic-catalog">
    <a href="http://catalog.nypl.org/" class="moreSearch"
      analytics-on="click" analytics-category="Header"
      analytics-event="Click" analytics-label="Classic Catalog">
      Classic Catalog
    </a>
  </div>
</div>