
<div class="chunk hard--left ask-donate">
  
  <div class="askNYPL grid__item one-whole tablet-and-up-one-half alpha " id="ask-nypl">
      <ul>
        <li class="asknum icon-phone icon-color-blue">917-ASK-NYPL{{chatHref}}</li>
        <li class="askchat icon-bubbles icon-color-blue"><a href="{{chatHref}}">Chat with a librarian</a></li>
        <li class="askemail icon-envelope icon-color-blue"><a href="{{emailHref}}">Email us your question</a></li>
      </ul>
  </div><!--

  --><div class="appeal grid__item one-whole tablet-and-up-one-half" id="donate">
      <p>Help us keep this library open 6 days a week!</p>
      <button class="btn--donate" class="{{donateHref}}">Donate now</button>
  </div>
  
</div>

