
<div class="ask-donate">
  <div class="appeal grid__item one-whole lap-and-up-one-half" id="donate">
      <p>Help us keep this library open 6 days a week!</p>
      <button class="btn--donate" class="{{donateHref}}">Donate now</button>
  </div><!--

  --><div class="askNYPL grid__item one-whole lap-and-up-one-half " id="ask-nypl">
      <ul>
        <li class="asknum icon-phone">917-ASK-NYPL{{chatHref}}</li>
        <li><a class="askchat icon-bubbles" ng-click="openChat()">Chat with a librarian</a></li>
        <li><a class="askemail icon-envelope" href="{{emailHref}}">Email us your question</a></li>
      </ul>
  </div>
</div>