<footer>
  <ul class="socialmedia">
    <li id="facebook">
      <a class="icon-facebook" href="http://www.facebook.com/newyorkpubliclibrary"><span class="replaced-text">Facebook</span></a>
    </li>
    <li id="twitter">
      <a class="icon-twitter2" href="http://twitter.com/nypl"><span class="replaced-text">Twitter</span></a>
    </li>
    <li id="tumblr">
      <a class="icon-tumblr2" href="http://nypl.tumblr.com/"><span class="replaced-text">Tumblr</span></a>
    </li>
    <li id="pinterest">
      <a class="icon-pinterest ext" href="http://pinterest.com/nypl"><span class="replaced-text">Pinterest</span></a>
    </li>
  </ul>

  <div class="footerlinks">
    <ul>
      <li class="footer1"><a href="/help/about-nypl">About NYPL</a></li>
      <li><a href="/help/about-nypl/president-and-leadership">President and Leadership</a></li>
      <li><a href="/spacerental">Space Rental</a></li>
      <li><a href="/help/about-nypl/careers-nypl">Careers at NYPL</a></li>
      <li><a href="/help/getting-oriented/resources-teachers">Resources for Teachers</a></li>
    </ul>

    <ul>
      <li class="footer1"><a href="/eNews">E-Newsletters</a></li>
      <li><a href="/help/about-nypl/media-center">Media Center</a></li>
      <li><a href="/voices/connect-nypl">Connect with NYPL</a></li>
      <li><a href="/mobile-help">Mobile Apps</a></li>
      <li><a href="/help/computers-internet-and-wireless-access/reserving-computer">Reserve a PC</a></li>
    </ul>

    <ul>
      <li class="footer1"><a href="http://shop.nypl.org/">The Library Shop</a></li>
      <li><a href="/help/about-nypl/legal-notices/privacy-policy">Privacy Policy</a></li>
      <li><a href="/help/about-nypl/legal-notices/rules-and-regulations">Rules and Regulations</a></li>
      <li><a href="/help/computers-internet-and-wireless-access/a-safety-net-for-the-internet">Using the Internet</a></li>
      <li><a href="/help/about-nypl/legal-notices/website-terms-and-conditions">Website Terms and Conditions</a></li>
      <li><a href="/help/about-nypl/legal-notices/policy-gifts-materials">Gifts of Materials to NYPL</a></li>
    </ul>

    <ul class="last">
      <li class="footer1"><a href="/node/57438">Español</a></li>
      <li class="footer1"><a href="/node/107747">中文</a></li>
      <li class="footer1"><a href="/node/107749">русский</a></li>
    </ul>
  </div>

  <div class="copyright">
    <p>© The New York Public Library, 2014</p>
  </div>
</footer>
