<footer>
  <ul class="socialmedia">
    <li id="facebook">
      <a class="icon-facebook" href="https://www.facebook.com/nypl"><span class="replaced-text">Facebook</span></a>
    </li>
    <li id="twitter">
      <a class="icon-twitter2" href="https://twitter.com/nypl"><span class="replaced-text">Twitter</span></a>
    </li>
    <li id="instagram">
      <a class="icon-instagram" href="https://instagram.com/nypl"><span class="replaced-text">Instagram</span></a>
    </li>
    <li id="tumblr">
      <a class="icon-tumblr2" href="https://nypl.tumblr.com/"><span class="replaced-text">Tumblr</span></a>
    </li>
    <li id="youtube">
      <a class="icon-youtube ext" href="https://www.youtube.com/user/NewYorkPublicLibrary"><span class="replaced-text">Youtube</span></a>
    </li>
  </ul>

  <div class="footerlinks">
    <ul>
      <li class="footer1"><a href="/help/about-nypl">About NYPL</a></li>
      <li><a href="/help/about-nypl/media-center">Press</a></li>
      <li><a href="/careers">Careers</a></li>
      <li><a href="/spacerental">Space Rental</a></li>
    </ul>

    <ul>
      <li class="footer1"><a href="/help/about-nypl/leadership/board-trustees">Governance</a></li>
      <li><a href="/help/about-nypl/legal-notices/rules-and-regulations">Rules &amp; Regulations</a></li>
      <li><a href="/policies">Policies</a></li>
      <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
    </ul>

    <ul>
      <li class="footer1"><a href="/help/community-outreach/services-for-persons-with-disabilities">Accessibility</a></li>
      <li><a href="/language">Language</a></li>
    </ul>
  </div>

  <div class="copyright">
    <p>© The New York Public Library, {{year}}</p>
  </div>
</footer>
