<div class="appeal grid__item one-whole lap-and-up-one-half" id="donate" data-ng-if="fundraising">
  <p data-ng-if="fundraising.appeal" class="secondary-text">
  	{{fundraising.appeal}}
  </p>
	<!-- Required field -->
  <p data-ng-if="fundraising.statement" class="primary-text">
  	{{fundraising.statement}}
  </p>
  <a href="{{fundraising.link}}" class="btn btn--donate"
    analytics-on="click" analytics-category="Locations"
    analytics-event="Click" analytics-label="Fundraising">
    {{fundraising.button_label}}
  </a>
</div>