<div class='hours-table-wrapper'>

	<!-- Regular Hours -->
	<div class='reg-week-hours-wrapper' data-ng-if="regularWeekHours">
		<table class="weekly-hours zeta">
      <caption>
        <h2 class="flush--ends hdg">
          Regular hours
        </h2>
      </caption>
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{hours.day}}" data-ng-class="{'open': !hours.alert, 'closed': hours.alert || !hours.open, 'today': hours.is_today}" data-ng-repeat="hours in regularWeekHours" data-ng-if="$index != 7">
  				<td class="day">{{hours.day}}</td>
  				<td class="time" ng-bind-html="hours | timeFormat"></td>
        </tr>
      </tbody>
		</table>
	</div>

	<!-- Dynamic Hours -->
	<div class='dynamic-week-hours-wrapper' data-ng-if="displayDynamicWeek">
		<table class="weekly-hours zeta">
      <caption>
        <h2 class="flush--ends hdg">
          Upcoming hours
        </h2>
      </caption>
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Day</th>
          <th scope="col">Hours</th>
        </tr>
      </thead>
      <tbody>
  			<tr class="{{hours.day}}" data-ng-class="{'open': !hours.alert, 'closed': hours.alert || !hours.open, 'today': hours.is_today}" data-ng-repeat="hours in dynamicWeekHours" data-ng-if="$index != 7">
  				<td class="date" ng-bind-html="hours.dateString | dateMonthFormat"></td>
  				<td class="day">{{hours.day}}</td>
  				<td class="time" ng-bind-html="hours | timeFormat"></td>
  			</tr>
      <tbody>
		</table>
	</div>

	<p class="smallprint note dynamic-hours-note" data-ng-if="displayDynamicWeek">
		* Indicates change to regular hours
	</p>

  <!-- Toggles Hours Table -->
  <button class="btn--natural hours-toggle-btn" data-ng-if="displayDynamicWeek" data-ng-click="toggleHoursTable()">
  	{{buttonText}}
  </button>

  <!-- Holiday Closing Link -->
  <a class="btn btn--natural closings-link" data-ng-href="//nypl.org/help/closings">
    Holiday closing information
  </a>
</div>