<div class="registration-for-event">
  <!-- Event is open -->
  <div data-ng-if="status.status && registration">
    <p>
    	<span class='registration-label'>
      	Registration:
      </span>
    	<a class="btn btn--natural registration-type" data-ng-if="online"
        data-ng-href="{{link}}#register"
        analytics-on="click" analytics-category="Locations"
        analytics-event="Register" analytics-label="{{link}}">
        {{reg_msg}}
      </a>
      <span class="registration-type" data-ng-if="!online">{{reg_msg}}</span>
    </p>
  </div>
  <!-- Event is closed, display reason -->
  <div data-ng-if="!status.status">
    <p class="event-cancel">{{status.label | uppercase}}</p>
  </div>
</div>