<div class="nypl-sidebar">
	<!-- Donate Button -->
	<div data-ng-if="donateButton == 'true'" class="donate-widget">
		<a data-ng-href="{{donateUrl}}" class="btn btn--donate btn--large">
	  	Donate Now
		</a>
	</div>
	<!-- AskNYPL -->
	<div data-ng-if="nyplAsk == 'true'" class="nypl-ask-widget">
		<div class="askNYPL">
			<h2>
        <span id="ask-nypl-title">Ask NYPL</span>
      </h2>
      <ul>
        <li class="asknum">
          Have a question? Call <a href="tel:917-275-6975" aria-label="9 1 7 ASK NYPL">917-ASK-NYPL</a><br />
          <a href="tel:917-275-6975" aria-label="9 1 7 2 7 5 6 9 7 5">917-275-6975</a> |
					<abbr title="Teletype">TTY</abbr> <a href="tel:212-930-0020" aria-label="2 1 2 9 3 0 0 0 2 0">212-930-0020</a>
        </li>
				<li>
					<emailusbutton link="https://gethelp.nypl.org/customer/portal/emails/new" />
				</li>
			</ul>
		</div>
	</div>
</div>
