#all-locations-map {
  height: 350px; }

#all-locations-map-legend {
  padding: 10px;
  font-size: 13px;
  font-size: 1.3em;
  background: #fff; }

.hide-legend {
  display: none; }

.show-legend {
  display: block; }

#individual-map {
  height: 350px;
  width: 800px; }
