/* 
** All Locations Landing Page
*/

.container__all-locations {

	/** Search Area **/
	.search-locations {

		.search-box-label {
			text-align: center;

			@media only screen and (min-width: 601px) {
				text-align: left;
			}
		}

		.search-box-area {
			position: relative;
			height: 45px;
			display: block;

			@media only screen and (min-width: 601px) {
				width: 80%;
				display: inline-block;
			}

			// Search Input Field
			.search-box {
				height: 45px;
				padding: 0 30px;
			}

			// Search magnyfing glass icon
			.icon-search {
				position: absolute;
				left: 0px;
				top: 12px;
				font-size: 20px;
				color: #c5c2bb;
			}

			// Clear Search icon
			#clear-search {
				position: absolute;
				right: 0px;
				top: 12px;
				font-size: 20px;
				color: #c5c2bb;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.search-button-area {
			height: 60px;

			@media only screen and (min-width: 601px) {
				height: auto;
				display: inline-block;
				width: 19.5%;
				vertical-align: 1px;
				margin-left: -2.61px;
			}

			// Button for Location Search
			#find-location {
				margin: 15px auto 0;
				position: absolute;
				left: 0;
				right: 0;
				width: 45%;
				height: 45px;

				@media only screen and (min-width: 601px) {
					position: relative;
					left: inherit;
					right: inherit;
					width: 99%;
					margin: 0;
					border-radius: 0;
				}

				@media only screen and (min-width: 980px) {
					width: 80%
				}
			}
		}
	}

	/** Filters Section **/
	.search-filters {
		margin: 1em 0;

		.filters__current {
			margin: 0;

			@media only screen and (min-width: 601px) {
				display: inline-block;
			}

			p {
				text-align: center;
				margin: 0;
				max-width: none;

				@media only screen and (min-width: 601px) {
					text-align: left;
				}

				.current-location-container {
					display: block; 

					@media only screen and (min-width: 601px) {
						display: inline;
					}
				}
			}
		}

		.filters__research {

			@media only screen and (min-width: 601px) {
				display: inline-block;
			}

			p {
				text-align: center;
				margin: 0;
				max-width: none;

				@media only screen and (min-width: 601px) {
					text-align: left;
				}

				.only-research-container {
					display: block; 

					@media only screen and (min-width: 601px) {
						display: inline;
					}
				}
			}
		}
	}

	/** Locations List View (no-map) **/
	.locations-results-list {
		margin-top: 10px;

		table.locations-list-view {
			display: block;
			width: 100%; 
			border-collapse: collapse;

			@media only screen and (min-width: 601px) {
				display: table;
			}

			thead {
				display: block;

				@media only screen and (min-width: 601px) {
					display: table-header-group;
				}

				tr {
					display: block;
					position: absolute;
					top: -9999px;
					left: -9999px;

					@media only screen and (min-width: 601px) {
						display: table-row;
						position: relative;
						top: inherit;
						left: inherit;
					}

					th {
						display: block;
						background: #eee;

						@media only screen and (min-width: 601px) {
							display: table-cell;
						}
					}
				}
			}

			tbody {
				display: block;

				@media only screen and (min-width: 601px) {
					display: table-row-group;
				}

				tr {
					display: block;
					border: 1px solid #eee;

					@media only screen and (min-width: 601px) {
						display: table-row;
						border-bottom: 1px solid #eee;
					}

					td {
						border: none;
						position: relative;
						padding-left: 50%;
						display: block;
						font-size: 13.5px;

						@media only screen and (min-width: 420px) {
							font-size: inherit;
						}

						@media only screen and (min-width: 601px) {
							display: table-cell;
							padding-left: 12px;
						}

						&:before {
							font-weight: bold;
							position: absolute;
							top: 37.5%;
							left: 6px;
							width: 45%;
							padding-right: 10px;
							white-space: nowrap;

							@media only screen and (min-width: 601px) {
								position: relative;
								top: inherit;
								left: inherit;
								width: auto;
								padding-left: initial;
								white-space: nowrap;
							}
						}

						&:nth-of-type(1):before {
							@media only screen and (max-width: 601px) {
								content: "Location";
							}
						}

						&:nth-of-type(2):before {
							@media only screen and (max-width: 601px) {
								content: "Highlighted Services";
							}
						}

						&:nth-of-type(3):before {
							@media only screen and (max-width: 601px) {
								content: "Today's Hours";
							}
						}

					}
				}
			}

			td {

				&.location-info {

					.p-org {
						font-weight: bold;
					}

					.map-link, .directions-link {
						display: block; 

						@media only screen and (min-width: 769px) {
							display: inline;
						}

					}
				}

				&.services-info {
					ul {
						margin: 0 0 0 .5em;
					}
				}
			}
		}
	}

	/** Locations Map View **/
	.locations-results-map {
		padding-top: 10px;
		margin: 10px 0px;
		border-top: 1px solid #eee;

		.locations-data-wrapper { 
			border: 1px solid #eee;
			padding: 7px;
			height: 500px;
			overflow-x: scroll;
			overflow-x: hidden;

			.location-data {
				border-bottom: 1px solid #eee;
				padding: 5px 0px;

				.p-org {
					font-weight: bold;
				}

				.highlighted-services-list {
					margin: 0;

					li {
						display: block;
						
						@media only screen and (max-width: 601px) {
							display: inline;
						}
					}
				}

			}
		}

		#all-locations-map {
			height: 500px;
			width: 100%;
		}

		#all-locations-map-legend {
			padding: 10px;
		  font-size: 13px;
		  font-size: 1.3em;
		  background: #fff;
		}

		.hide-legend {
		  display: none;
		}

		.show-legend {
		  display: block;
		}
		// Fix to display the closing 'X' on marker's infowindow
		img[src*="gstatic.com/"], 
		img[src*="googleapis.com/"] {
			max-width: none;
		}
	}
	
}