//better spacing
.amenities h3 {
  margin: 0.5em 0 0;
}

.amenity-category-list {
  list-style: none;
  
  & > li{
	  margin-bottom: 2.5rem;
  }
}

.amenities-list > li {
	margin: 1rem 0;
}

//normalize the reserve button
.amenities__reserve{
	font-size: .9rem;
	padding: 3px 9px;
}
