.amenity-category-list {
	margin-top: 10px;
	
	.amenity-box {
		margin-bottom: 1.5em;

		h3 {
			margin: 0.5em 0 0;
		}

		.amenities-list {
			margin: 0 0 0 1.75em;

			& > li {
				margin: 1rem 0;

				.amenity-links {
					display: block;

					& > span {
						display: inline;

						.read-more {
							padding: 3px 9px;
							margin-top: 6px;
						}

						// normalize the reserve button
						.amenities__reserve {
							font-size: .9rem;
							padding: 3px 9px;
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

// services "ad"
.services-callout{
	font-size: 1.5rem;
	text-align: center;
	
	.services-link{
		text-decoration: none;
		
		&:hover{
			text-decoration: underline;
		}
	}
}
.services-callout-2{
	font-size: 2rem;
	font-weight: bold;
}