/* Research Collections page */
.research-collections {

  button {
  	&.active {
	    background: #fff;
	    border: 1px solid #0090c4;
	    color: #0090c4;
  	}
  }
}

.collection-filters {
	background-color: #ebe8e6;
	border-width: 1px;
	border-style: solid;
	border-color: #c5c2bb;
	border-radius: 2px;
	padding: 12px;
	margin: 0px 0px 24px 0px;

	.main-filters {
		.heading {
			display: block;

			@include breakpoint($min, $mobile-phone) {
				display: inline;
			}
		}
	}

	.sub-filters {
		ul {
			margin: 5px 0px 5px 7px;
			padding: 0;
			list-style-type: none;

			@include breakpoint($min, $post-palm) {
				margin: 15px 0px 10px 72px;
				-moz-column-count: 2;
				-moz-column-gap: 10px;
				-webkit-column-count: 2;
				-webkit-column-gap: 10px;
				column-count: 2;
				column-gap: 10px;
			}

			@include breakpoint($min, $post-tablet) {
				-moz-column-count: 3;
				-moz-column-gap: 10px;
				-webkit-column-count: 3;
				-webkit-column-gap: 10px;
				column-count: 3;
				column-gap: 10px;
			}

			li {
				margin: 4px 0px;
				padding: 2px 0px;

				a {
					text-decoration: none;
					padding: 5px;
					display: inline-block;
					&.active {
				    background: #fff;
				    border: 1px solid #0090c4;
				    color: #0090c4;
				    border-radius: 2px;
			 		}
				}
			}
		}
	}
}