/* Research Collections page */
.research-collections {

  button {
  	&.active {
	    background: #fff;
	    border: 1px solid #0090c4;
	    color: #0090c4;
  	}
  }
}

.collection-filters {
	background-color: #ebe8e6;
	border-width: 1px;
	border-style: solid;
	border-color: #c5c2bb;
	border-radius: 2px;
	padding: 12px;
	margin: 0px 0px 24px 0px;

	.main-filters {
		.heading {
			display: block;
			position: relative;

			@include breakpoint($min, $mobile-phone) {
				display: inline;
			}

			.main-filter-toggle {
				display: inline;
				position: absolute;
				width: 88px;
				left: 0px;
				top: 5px;
				text-align: right;

				&:hover {
					cursor: pointer;
				}

				@include breakpoint($min, $post-palm) {
					display: none;
				}
			}
		}

		.filters-wrapper {
			display: block;
			@include breakpoint($min, $post-palm) {
				display: inline !important;
			}
		}

		.filterable-by {
			button {
				display: block;
				margin: 10px auto;
				width: 100%;
				@include breakpoint($min, $post-palm) {
					display: inline;
					width: auto;
					margin: 6px;
				}
			}
		}
	}

	.sub-filters {
		margin: 5px 10px;

		@include breakpoint($min, $post-palm) {
			margin: 0 0 0 73px;
		}

		> ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			/*@include breakpoint($min, $post-palm) {
				-moz-column-count: 2;
				-moz-column-gap: 10px;
				-webkit-column-count: 2;
				-webkit-column-gap: 10px;
				column-count: 2;
				column-gap: 10px;
			}

			@include breakpoint($min, $post-tablet) {
				-moz-column-count: 3;
				-moz-column-gap: 10px;
				-webkit-column-count: 3;
				-webkit-column-gap: 10px;
				column-count: 3;
				column-gap: 10px;
			}

			&.locations-active {
				@include breakpoint($min, $post-tablet) {
					-moz-column-count: 2;
					-moz-column-gap: 20px;
					-webkit-column-count: 2;
					-webkit-column-gap: 20px;
					column-count: 2;
					column-gap: 20px;
				}
			}*/

			> li {
				margin: 4px 0px;
				padding: 2px 0px;

				a {
					padding: 5px;
					display: inline-block;
					border: 1px solid transparent;
					width: 90%;

					@include breakpoint($min, 481px) {
						width: auto;
					}
					&.active {
				    background: #fff;
				    border: 1px solid #0090c4;
				    color: #0090c4;
				    border-radius: 2px;
			 		}
				}
			}
		}
	}
}

.repeat-animation.ng-enter, 
.repeat-animation.ng-leave, 
.repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.repeat-animation.ng-enter {
  left:-10px;
  opacity:0;
}
.repeat-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.repeat-animation.ng-leave {
  left:0;
  opacity:1;
}
.repeat-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.repeat-animation.ng-move {
  opacity:0.5;
}
.repeat-animation.ng-move.ng-move-active {
  opacity:1;
}