/**
** Global Rules
**
**/

// Main page wrapper (Necessary for centering grid items)
.wrapper {
	margin: 0 auto;
	padding: 0 24px;
	max-width: 1200px;
}

// Loader
#loadingWidget {
	display: none;
	z-index: 5;
	opacity: 0;
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	color: #fff;
	text-align: center;

	&.show {
		display: block;
		z-index: 9999;
		opacity: 1;
	}

	.loader-icon {
		position: absolute;
		display: block;
		width: 55px;
		height: 40px;
		margin-top: -27.5px;
		margin-left: -20px;
		font-size: 2em;
		left: 50%;
		top: 40%;
		-webkit-animation: spin 2s infinite linear;
		-moz-animation: spin 2s infinite linear;
		-o-animation: spin 2s infinite linear;
		animation: spin 2s infinite linear;
	}
}

// Lokinator content wrapper
.nypl-locations {
	margin-top: 30px;
	min-height: 700px;

	@include breakpoint($min, $tablet) {
		margin-top: 20px;
	}
}

// general "chunk" styling
.chunk{
	.desc{
		color: #7d7872;
	}
	
	.date{
		font-style: italic;
		margin-bottom: .5rem;
	}
}

.nypl-alerts {
	background-color: #ECE94C;
	padding: 12px;
	position: relative;
	top: 25px;
	width: 100%;

	@include breakpoint($min, $pre-tablet) {
		width: auto;
		top: inherit;
	}

	p {
		margin: .5em 0;
		text-align: center;
		max-width: none;
	}
}

// breadcrumbs
.breadcrumb{
	font-size: .8rem;
	margin-left: 0;
	list-style-type: none;
	padding-bottom: 2px;
	margin-bottom: 1em;
	border-bottom: 1px solid #E8E4E1;

	li {
		display: inline;

		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// Ask & Donate section
.ask-donate{
	margin-top: 60px;	
}

// AskNYPL
.askNYPL {
	padding-left: 0px;
	
	@include breakpoint($min, $post-palm) {
		padding-left: 24px;
	}

	ul {
		text-align: center;
		color: #5e564b;
		margin: 1em 0 0;

		@include breakpoint($min, $post-palm) {
			margin: 0;
		}

		li {
			display: block;
			list-style-type: none;
			margin-bottom: .5rem;

			&.asknum {
				font-size: 24px;

				@include breakpoint($min, $post-palm) {
					font-size: 36px;
				}
			}

			.askchat,.askemail {
				display: inline-block;
				background-color: #ece94c;
				border-radius: 2px;
				color: #5e564b;
				padding: 6px;		
				text-decoration: none;
				
				&:hover {
					background-color: lighten(#ece94c, 20%);
					cursor: pointer;
				}
			}

			[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
				vertical-align: baseline;
			}
		}
	}	
}

// Firefox specific override rules
@-moz-document url-prefix() {

	.search-button {
		vertical-align: .4px !important;
	}

	.sso-login .login-form {
		right: 81px !important;
	}
}

// Spin Animation
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}