/**
** Global Rules
**
**/

// Main page wrapper (Necessary for centering grid items)
.wrapper {
	margin: 0 auto;
	padding: 0 24px;
	max-width: 1200px;
}

// Lokinator content wrapper
.nypl-locations {
	margin-top: 30px;

	@include breakpoint($min, $tablet) {
		margin-top: 0px;
	}
}

// general "chunk" styling
.chunk{
	.desc{
		color: #7d7872;
	}
	
	.date{
		font-style: italic;
	}
}

.nypl-alerts {
	background-color: #ECE94C;
	padding: 12px;

	p {
		margin: .5em 0;
		text-align: center;
		max-width: none;
	}
}

// AskNYPL
.askNYPL {
	// adjust padding from grid__item
	@include breakpoint($min, $post-palm) {
		padding-left: 0;
		padding-top: 24px;
	}

	ul {
		color: #5e564b;
		
		// override default margin
		margin-left: 0px;
		
		// positions elements
		text-align: center;
	}
	
	li {
		list-style-type: none;
		margin-bottom: .5rem;
	}
	
	[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
		vertical-align: baseline;
	}
	
	.asknum {
		@include breakpoint($min, $post-palm) {
			font-size: 36px;
		}
	}
	
	.askchat,.askemail {
		// "button" style
		background-color: #ece94c;
		border-radius: 2px;
		color: #5e564b;
		padding: 6px;		
		text-decoration: none;
		
		&:hover {
			background-color: lighten(#ece94c, 20%);
		}
	}
}

// Firefox specific override rules
@-moz-document url-prefix() {

	.search-button {
		vertical-align: .4px !important;
	}

	.sso-login .login-form {
		right: 81px !important;
	}
}