/**
** Global Rules
**
**/
body {
	background-color: #fff;

	a:focus, button:focus, input:focus {
		outline: 5px solid $focus-color;
		overflow: visible;
		box-shadow: 1px 1px 2px 2px darken($focus-color, 10%);
	}

	.grid {
		.chunk {
			a {
				display: inline-block;
			}
			.event-buttons {
				a {
					display: inline-block;
				}
			}
		}

		.division-wrapper {
			a {
				display: inline-block;
			}
		}
	}
}

// Main page wrapper (Necessary for centering grid items)
.wrapper {
	margin: 0 auto;
	padding: 0 24px;
	max-width: 1200px;
}

// To override normalize.scss from NYPLBase.
input[type="text"] {
	line-height: normal !important;
}

// To override NYPLBase button:hover rule.
#Header-NavMenu-SearchButton:hover {
	border: none;
}

// To make the width of the subscribe container wider.
.EmailSubscription-Wrapper {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

.emailSubscription-wrapper {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
}

#Header-NavMenu-SearchBox-Elements-SubmitButton:hover {
	background-color: transparent !important;
	border: none !important;
	color: #fff !important;
}

// For the homepage table view.
.locations-list-view {
	th, td {
		padding: 6px;
	}
	@include breakpoint($min, $tablet) {
		th, td {
			padding: 12px !important;
		}
	}
}

// Loader
#loadingWidget {
	display: none;
	z-index: 5;
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: #fff;
	text-align: center;

	&.show {
		display: block;
		z-index: 9999;
	}

	.loader-icon {
		position: absolute;
		display: block;
		width: 55px;
		height: 40px;
		margin-top: -27.5px;
		margin-left: -26px;
		font-size: 2.5em;
		left: 50%;
		top: 40%;
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
	}

	[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
		margin: 0;
	}
}

// Lokinator content wrapper
.nypl-locations {
	min-height: 700px;
	margin: 10px 0px;
	@include breakpoint($min, $tablet) {
		margin: 15px 0px 20px;
	}
}

// general "chunk" styling
.chunk {
	.desc {
		color: $nypl-gray-brown;
	}

	.date {
		font-style: italic;
		margin-bottom: .5rem;
	}
}

time {
	&.date {
		font-style: italic;
		margin-bottom: .5rem;
		display: inline-block;
	}
}

// breadcrumbs
.breadcrumb{
	font-size: .8rem;
	margin-left: 0;
	list-style-type: none;
	padding-bottom: 2px;
	margin-bottom: 1em;
	border-bottom: 1px solid #E8E4E1;

	li {
		display: inline;

		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// Ask & Donate section
.ask-donate{
	margin-top: 60px;

	.appeal {

		.primary-text {
			font-weight: bold;
		}
		.secondary-text {
			font-size: 18px;
			font-weight: normal;
		}
	}
}

// AskNYPL
.askNYPL {
	padding-left: 0px;

	@include breakpoint($min, $post-palm) {
		padding-left: 24px;
	}

	@include breakpoint($max, $palm) {
		margin: 20px 0 0 0;
	}

	h2 {
		font-size: 18px;
		font-weight: normal;
		text-align: center;
	}

	ul {
		text-align: center;
		color: #5e564b;
		margin: 1em 0 0;

		@include breakpoint($min, $post-palm) {
			margin: 0;
		}

		li {
			display: block;
			list-style-type: none;
			margin-bottom: .5rem;

			.askchat,.askemail {
				display: inline-block;
				background-color: #ece94c;
				border-radius: 2px;
				border: 1px solid transparent;
				color: #5e564b;
				padding: 6px;
				text-decoration: none;

				&:hover {
					background-color: #fff;
					border: 1px solid lighten(#5e564b, 50%);
					cursor: pointer;
				}
			}

			[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
				vertical-align: baseline;
			}
		}
	}
}

// Accessibility Icons
.icon-accessibility {
	padding: 3px 0px;
	margin-right: 2px;

	&:before {
		margin: 0;
		padding: 0px 3px;
	}
	&.fully {
		background-color: #0090c4;
		color: #FFF;
	}
	&.partially {
		color: #0090c4;
	}
	&.none {
		color: #d62828;
	}
}

.autofill-container {
	position: absolute;
	width: 100%;
	z-index: 1;
	background-color: #fcfaf7;
	border: 1px solid #CCC;
	padding: 10px;

	&.no-geosearch {
		.location-item:last-child {
			border-bottom: none;
		}
	}

	.location-item {
		border-bottom: 1px solid #eee;
		margin: 0;
		padding: 10px;
		position: relative;

		&.active {
			background-color: #FFF;
			outline: 5px solid $focus-color;
			overflow: visible;
			box-shadow: 1px 1px 2px 2px darken($focus-color, 10%);
		}

		.location-name {
			margin: 5px 0px;
			padding: 5px;
			display: block;
			@include breakpoint($min, 720px) {
				margin: 0;
				display: inline-block;
			}
		}
		.view-on-map {
			display: block;
			@include breakpoint($min, 720px) {
				display: inline-block;
				position: absolute;
				right: 15px;
				top: 18px;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}

	.geocoding-search {
		padding: 10px;

		&.active {
			background-color: #FFF;
			box-shadow: 1px 1px 2px 2px darken($focus-color, 10%);
			outline: 5px solid $focus-color;
			overflow: visible;
		}

		&:hover {
			cursor: pointer;
		}

		p {
			margin: 0;
			max-width: none;
		}
	}
}

.lookahead {
	position: absolute;
	top: 0;
	left: 0;
	height: 45px;

	p {
		color: #ccc;
		position: relative;
		margin: 0;
		padding: 0;
		top: 10.5px;
		left: 32px;
		height: 25px;
		overflow: hidden;

		@include breakpoint($max, 320px) {
			max-width: 180px;
		}

		@include breakpoint(null, 321px, 480px) {
			max-width: 225px;
		}

		@include breakpoint($min, 481px) {
			max-width: 100%;
		}

		&.hidden {
			display: none;
		}

		span {
			color: transparent !important;
		}
	}
}

.autofill-help-text {
	display: none;
	@include breakpoint($min, 720px) {
		display: block;
		position: absolute;
	  top: 60px;
	  right: 0px;
	  max-width: 140px;
	  z-index: 2;
	}

	&.shift-help-text {
		right: 160px;
		transition-property: right;
    transition-duration: .5s;
    transition-timing: ease;
    transition-delay: 0;
	}

  .arrow-box-wrapper {
		position: relative;
		background: #FFFFCD;
		border: 1px solid #eeeeee;
		box-shadow: 0px 2px 6px -3px #aaa;
  }

	.arrow-box-wrapper:after, .arrow-box-wrapper:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.arrow-box-wrapper:after {
		border-color: rgba(0, 0, 0, 0);
		border-bottom-color: #FFFFCD;
		border-width: 12px;
		margin-left: -12px;
	}
	.arrow-box-wrapper:before {
		border-color: rgba(238, 238, 238, 0);
		border-bottom-color: #eee;
		border-width: 14px;
		margin-left: -13px;
	}

	p {
		font-size: 12.25px;
		margin: 5px;
		padding: 0;
	}
}

// Firefox specific override rules
@-moz-document url-prefix() {

	.search-button {
		vertical-align: -1.15px !important;
	}
}

// Spin Animation
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.browser-upgrade {
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
	font-size: 1.5em;
}

#nyplFeedback {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	width: 100%;

	@include breakpoint ($min, $post-palm) {
		width: 390px;
	}

	&.left {
		left: -300px;
		-webkit-transition: left 0.3s ease;
		-moz-transition: left 0.3s ease;
		-ms-transition: left 0.3s ease;
		-o-transition: left 0.3s ease;
		transition: left 0.3s ease;

		&.open {
			@include breakpoint($min, $post-palm) {
				left: 0px;
			}
		}

		a {
			right: 0;
		}
	}

	&.right {
		right: -390px;
		-webkit-transition: right 0.3s ease;
		-moz-transition: right 0.3s ease;
		-ms-transition: right 0.3s ease;
		-o-transition: right 0.3s ease;
		transition: right 0.3s ease;

		&.open {
			@include breakpoint($min, $post-palm) {
				right: -90px;
			}
		}

		a {
			right: 390px;
		}
	}

	a {
		z-index: 1000;
		display: block;
		position: absolute;
		height: 60px;
		text-align: center;
		bottom: 0;
		color: #fff;
		background-color: #5e564b;
		padding: 10px;
		width: 100%;
		text-decoration: none;
		-webkit-transition: background-color 0.5s ease;
		-moz-transition: background-color 0.5s ease;
		-ms-transition: background-color 0.5s ease;
		-o-transition: background-color 0.5s ease;
		transition: background-color 0.5s ease;

		@include breakpoint($min, $post-palm) {
			bottom: 50px;
			width: 90px;
			height: 50px;
		}

		&:hover {
			background-color: #9b958f;
		}
	}

	&.open {
		.embedded {
			iframe {
				bottom: 60px;

				@include breakpoint($min, $post-palm) {
					bottom: 0px;
					right: 90px;
				}
			}
		}
	}

	.embedded {
		iframe {
			z-index: 999;
			bottom: -290px;
			position: absolute;
			max-height: 350px;
			width: 100%;
			right: 390px;

			-webkit-transition: bottom 0.5s ease;
			-moz-transition: bottom 0.5s ease;
			-ms-transition: bottom 0.5s ease;
			-o-transition: bottom 0.5s ease;
			transition: bottom 0.5s ease;

			@include breakpoint($min, $post-palm) {
				right: auto;
				bottom: 0;
				width: 300px;
				min-height: 500px;
				max-height: 800px;
			}
		}
	}

}

// Brooklyn/Queens Libraries
.partner-libraries {
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	@include breakpoint($min, $post-palm) {
		padding: 20px 0px;
	}

	p {
		max-width: none;
		margin-bottom: 1em;
	}

	.brooklyn-library, .queens-library {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}

		img {
			display: block;
			margin: 10px auto;
			@include breakpoint($min, $post-palm) {
				display: inline-block;
			}
		}
	}

	.brooklyn-library {
		img {
			@include breakpoint($min, $post-palm) {
				margin-right: 20px;
			}
		}
	}
	.queens-library {
		img {
			@include breakpoint($min, $post-palm) {
				margin-left: 20px;
			}
		}
	}
}

.nypl-screenreader-only {
	position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// The .hdg class is a pattern coming from NYPLBase. It is overridden here
// since it's a heading pattern used there and there's no clear future plan
// to update it so for now this change will only be affected in this app.
.hdg {
	text-transform: none;
}

.emailSubscription-wrapper {

}