.nypl-sidebar {

	// Donate button
	.donate-widget {
		display: block;
		margin: 1.5em 0;
		text-align: center;
	}

	// AskNYPL
	.nypl-ask-widget {
		display: block;
		margin: 1em 0;

		.askNYPL {
			padding: 0;
		}
	}
}