/* 
** Individual Location's page
*/
.individual-location, .individual-division {
	// Spacing for each container
	#container__address,
	#container__image,
	#container__top_amenities,
	#container__events,
	#container__about,
	#container__blogs,
	#container__exhibitions {
		margin-bottom: 24px;
	}

	#container__about {
		clear: both;
	}

	// Image section on top container
	#container__image {
		float: left; // Fix for proper positioning on desktop
		display: none; // Hidden on mobile

		@include breakpoint($min, $desktop) {
			display: inline-block;
		}

		img {
			@include breakpoint($min, $desktop) {
				max-height: 275px;
			}
		}
	}

	// Hours section on top container
	#container__hours {
		float: right;
		margin-bottom: 10px;

		@include breakpoint($min, $post-palm) {
			margin-bottom: 20px;
		}

		#hours-today {
			margin-left: -.35em;

			@include breakpoint($min, $post-palm) {
				margin-left: 0;
			}

			.hours-today {
				font-size: 13px;
				font-size: 1.3rem;

				@include breakpoint($min, $post-palm) {
					font-size: 16px;
					font-size: 1.6rem;
				}	

				// Clock figure
				.figure {
					display: table-cell;
					width: 42px;

					@include breakpoint($min, $post-palm) {
						width: 45px;
					}

					&:before {
						vertical-align: -3px;
					}
				}
				
				// Hour's today message
				.msg {
					display: table-cell;
					line-height: 1.2;
					font-size: .9em;
				}
			}
		}

		#toggle-hours {
			display: inline;
			position: absolute;
			width: 78px;
			left: 0px;
			top: 2.5px;
			text-align: right;


			&:hover {
				cursor: pointer;
			}

			@include breakpoint($min, $post-palm) {
				display: none;
			} 
		}

		#location-hours {
			margin: .75em 5px .75em 5px;

			@include breakpoint($min, $post-palm) {
				margin-left: 45px;
				margin-right: 0px;
			}

			.hours-table-wrapper {
				// Shows/Hides dynamic/regular hours table
				&.hide-regular-hours {
					.reg-week-hours-wrapper {
						display: none;
					}
				}
				&.hide-dynamic-hours {
					.dynamic-week-hours-wrapper {
						display: none;
					}
					.dynamic-hours-note {
						display: none;
					}
				}
			}

			.hdg {
				position: relative;
				border: none;
			}

			.hours-table-collapse {
				display: none;
				margin-bottom: 5px; 

				@include breakpoint($min, $post-palm) {
					display: block !important;
				} 
			}

			.weekly-hours {
				tr {
					border-bottom: 3px solid transparent;
					border-top: 3px solid transparent;

					// Closed hours
					&.closed {
						.time {
							color: #AAA;
						}
					}

					&.today {
					  border-left: 2px solid #1790CF;
					  background-color: #f4f4f4;
					}

					.date {
						vertical-align: middle;
						padding: 0 0 0 3px;
					}

					.day {
						vertical-align: middle;
						font-style: italic;
						padding: 0 10px 0 0;
					}

					.time {
						vertical-align: middle;
						padding: 0px;
					}
				}
			}

			.note {
				margin-bottom: .5rem;
			}

			.closings-link, .hours-toggle-btn {
				margin-left: 1px;
			}

			.hours-toggle-btn {
				display: block;
				width: 210px;
			}
		}
	}


	#catalog-link {
		background-color: lighten(#0090c4, 50%);
		border: 1px solid transparent;
		border-radius: 2px;
		color: darken(#0090c4, 10%);
		padding: 4px;
		text-decoration: none;
		margin-left: .35em;
		
		&:hover {
			background-color: #fff;
			border:	1px solid lighten(#0090c4, 50%);
		}
	}

	// Address section on top container
	#container__address {
		// Accessibility
		.accessible, .not-accessible {
			margin: .5em 0 .5em .4em;
		}

		.p-adr,
		.wheelchair,
		.map-directions {
			margin-bottom: .75rem;
			margin-left: .35em;
		}

		.social {
			margin-top: .5rem;
			margin-left: 0;

			a {
				text-decoration: none;
			}
		}
	}

	// Divisions section 
	#container__divisions {
		clear: both;
		.division-wrapper {
			margin-bottom: 3em;
			
			img {
				height: 250px;		
			}
			
			h4 {
				margin-bottom: .5rem;
			}

			p {
				max-width: 100%;
				margin: .5em 0;
			}
		}
	}

	// Events section
	#container__events {
		clear: both;
		.event__title {
			margin-bottom: .05em;
		}
		.callout {
			margin-bottom: 24px;
			
			p {
				margin: 0;
			}
		}

		.event-buttons {
			margin: 0; 
			padding: 0;
		}
	} 

	#container__blogs {
		.blog__title,
		h3 {
			margin-bottom: .5em;
		}

		// Hack to remove white-space on inline elements
		.blog_author {
			font-size: 0;

			span {
				font-size: initial;
			}
		}
	}

	#container__exhibitions {
		clear: both;
		.exhibition__title {
			margin-bottom: .05em;
		}
	}

	#container__features {
		clear: both;
	}

	// Highlighted Amenities section
	#container__top_amenities {

		@include breakpoint($min, $pre-tablet) {
			margin-top: 20px;
		}

		.callout {
			background-color: transparent;
			position: relative;

			.amenities-title {
				font-weight: bold;
				margin-bottom: 5px;
				@include breakpoint($min, $pre-tablet) {
					margin-bottom: 0;
					display: table-cell;
					width: 167px;
					vertical-align: top;
				}
			}

			ul {
				margin: 0 2px;
				padding: 0;

				@include breakpoint($min, $pre-tablet) {
					display: table-cell;
					vertical-align: top;
				}

				li {
					display: block;
					margin-bottom: .5em;

					@include breakpoint($min, $pre-tablet) {
						margin-bottom: 0;
						margin-right: .35em;
						display: inline-table;
					}
				}
			}

			.amenities-all-link {
				margin-top: 10px;
				@include breakpoint($min, $pre-tablet) {
					margin-top: 0;
					width: 145px;
					display: table-cell;
					vertical-align: top;
					text-align: right;
				}
			}
		}
	}

	#plan-your-visit {
		//Mobile spacing
		margin-top: 1.25em;
		@include breakpoint($min, $post-palm) {
			margin-top: inherit;
		}

		ul {
			margin-left: 25px;
		}
	}

	// Events page for each location-hours
	.location_events_info {
		#hours-today {
			margin-left: -.35em;

			@include breakpoint($min, $post-palm) {
				margin-left: 0;
			}

			.hours-today {
				font-size: 14px;
				font-size: 1.4rem;

				@include breakpoint($min, $post-palm) {
					font-size: 16px;
					font-size: 1.6rem;
				}		

				span {
					vertical-align: -2px;
				}
			}
		}
	}
}